.advantages.advantages--bg.section(style="background-image:url(./content/bg-advantages.jpg)")
    .section__columns.container
        .section__head
            p We are innovative, flexible, secure and reliable!
        .section__content
            .advantages__items
                .advantages__item.opened
                    .advantages__item-title Your channels made smarter
                    .advantages__item-content
                        .advantages__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .typography
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                        a.advantages__item-more(href="#") Learn more
                .advantages__item
                    .advantages__item-title Solution for non-stop recording and and ad detection.
                    .advantages__item-content
                        .advantages__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .typography
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                        a.advantages__item-more(href="#") Learn more
                .advantages__item
                    .advantages__item-title VPlay 5 New System Automation functionality
                    .advantages__item-content
                        .advantages__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .typography
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                        a.advantages__item-more(href="#") Learn more
                .advantages__item
                    .advantages__item-title Russia’s First Cloud HD TV Broadcast service powered by STREAM LABS!
                    .advantages__item-content
                        .advantages__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .typography
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                        a.advantages__item-more(href="#") Learn more
                .advantages__item
                    .advantages__item-title UTV-Media choice – Stream Labs solution
                    .advantages__item-content
                        .advantages__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .typography
                            p Originale linear channels. live events and stream direct to consumers with our fully managed solution that gives you creative control. Create and stream high-quality channels in one simple platform. from source te srceen.
                        a.advantages__item-more(href="#") Learn more