.mainslider
    .mainslider__items
        .mainslider__item.more-container
            img.mainslider__item-bg.js-object-fill(data-lazy="./content/mainslider-1.jpg")
            .mainslider__item-wrap
                .container
                    .mainslider__item-title: h1 Absolutely New Multiscreen
                    p Originale linear channels live events and stream direct to consumers with our fully managed solution that gives you creative control.
                    a.mainslider__item-more.more(href="#"): svg.icon-more: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#more")
        .mainslider__item.more-container
            img.mainslider__item-bg.js-object-fill(data-lazy="./content/mainslider-2.jpg")
            .mainslider__item-wrap
                .container
                    .mainslider__item-title: h1 Test title
                    p Originale linear channels live events and stream direct to consumers with our fully managed solution that gives you creative control.
                    a.mainslider__item-more.more(href="#"): svg.icon-more: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#more")