section.mainvideo
    .container
        .mainvideo__title.title: h2 Latest Videos
        .mainvideo__content
            .mainvideo__items.js-slider
                .mainvideo__item
                    .mainvideo__item-wrap(style="background-image:url(./content/video-1.jpg)")
                        .mainvideo__item-date June 19, 2020
                        .mainvideo__item-title.title: h3: a(href="#") Live Production Update
                        .mainvideo__item-desc Whatch the ATL Mini Pro introduction and updates to ATEM Mini.
                .mainvideo__item
                    .mainvideo__item-wrap(style="background-image:url(./content/video-2.jpg)")
                        .mainvideo__item-date June 2, 2020
                        .mainvideo__item-title.title: h3: a(href="#") IBC 2019 Update
                        .mainvideo__item-desc Whatch the ATL Mini Pro introduction and updates to ATEM Mini.
        .section__all.all: a(href="#") All videos