section.partners.section
    .section__columns.container
        .section__head
            .partners__title.title: h4 Partners
            p Market leaders choose Stream LABS solutions
        .section__content
            .partners__items.js-slider
                - for (var i = 1; i <= 8; i++)
                    .partners__item: img(src="./content/partners-" + i + ".jpg")
                - for (var i = 1; i <= 8; i++)
                    .partners__item: img(src="./content/partners-" + i + ".jpg")
                - for (var i = 1; i <= 8; i++)
                    .partners__item: img(src="./content/partners-" + i + ".jpg")