#customer.steps__items.js-slider
    .steps__item.steps__item--shadow
        img(src="./content/steps-1.jpg")
        .steps__item-title #[a(href=locals.env.LK_SUPP+"/registration", target="_blank") Зарегистрируйтесь] на&nbsp;площадке
    .steps__item.steps__item--shadow
        img(src="./content/steps-2.jpg")
        .steps__item-title #[a(href="#") Получите] электронную&nbsp;подпись
    .steps__item.steps__item--shadow
        img(src="./content/steps-3.jpg")
        .steps__item-title Разместите извещение в системе