.section.section--green.section--steps.steps
    .container
        .section__head
            .section__title Всего за 3 шага стать:
                span.section__title-tabs
                    a.active(href="#customer") заказчиком
                    a(href="#supplier") поставщиком
        include ./steps-customer
        include ./steps-supplier
