footer.footer
    .container
        .footer__menu
            ul.footer__nav
                li
                    a Поставщикам
                li
                    a Реестр компаний
                li
                    a Каталог
                li
                    a Нормативная база ГК и 223 ФЗ
                li
                    a Заказчикам
                li
                    a Торговая площадка
                li
                    a Остатки
                li
                    a О нас
                li
                    a Электронная подпись
                li
                    a Котировки
                li
                    a Тарифы
                li
                    a Новости

        .footer__middle
            .footer__middle-left
                .footer__logo
                    <svg width="210" height="63" viewBox="0 0 210 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M151.365 52.0017L162.625 63L174.309 52.0017H167.086V47.517H158.588V52.0017H151.365Z" fill="#27B6C4"/>
                    <path d="M174.309 10.9983L163.05 0L151.365 10.9983H158.588V15.483H167.086V10.9983H174.309Z" fill="#27B6C4"/>
                    <path d="M167.618 31.2865L157.739 45.1678H149.348V18.4729H158.058V32.6746L167.724 18.4729H176.328V45.2746H167.618V31.2865Z" fill="#363533"/>
                    <path d="M57.5724 36.5186C57.5724 41.6441 53.7484 45.1678 47.5876 45.1678H37.6027H33.9912V18.3661H42.7014H54.9169V25.7339H42.8076V28.083H47.5876C53.7484 28.083 57.5724 31.3932 57.5724 36.5186ZM48.8622 36.5186C48.8622 35.4508 48.1187 34.8102 46.9502 34.8102H42.8076V38.2271H46.9502C48.1187 38.2271 48.8622 37.5864 48.8622 36.5186Z" fill="#27B6C4"/>
                    <path d="M84.3394 25.7339H77.0101V45.061H68.3V25.7339H60.9707V18.3661H77.0101H84.3394V25.7339Z" fill="#363533"/>
                    <path d="M115.463 27.9763C115.463 33.9559 110.47 37.5864 104.31 37.5864H99.1047V45.1678H90.3945V18.3661H99.1047H104.31C110.47 18.3661 115.463 21.9966 115.463 27.9763ZM106.753 27.9763C106.753 26.5881 105.69 25.8407 104.31 25.8407H99.1047V30.2186H104.31C105.69 30.1118 106.753 29.2576 106.753 27.9763Z" fill="#363533"/>
                    <path d="M142.761 38.0135V45.061H123.96H121.305V18.3661H130.015H142.761V25.4135H130.015V28.4034H142.761V34.9169H130.015V38.1203H142.761V38.0135Z" fill="#363533"/>
                    <path d="M210 31.7135C210 39.2949 203.627 45.061 195.129 45.061H185.25H182.701V18.3661H191.836H195.129C203.627 18.3661 210 24.1322 210 31.7135ZM201.29 31.7135C201.29 28.1898 198.741 25.7339 195.235 25.7339H191.942V37.6932H195.235C198.741 37.6932 201.29 35.2373 201.29 31.7135Z" fill="#363533"/>
                    <path d="M0 31.5C0 39.0814 6.37329 44.8475 14.871 44.8475H24.9621H27.6176V18.1526H18.4825H14.871C6.37329 18.1526 0 23.9187 0 31.5ZM8.71017 31.5C8.71017 27.9763 11.2595 25.5204 14.7648 25.5204H18.3763V37.4797H14.871C11.2595 37.4797 8.71017 35.1306 8.71017 31.5Z" fill="#27B6C4"/>
                    </svg>
                .footer__stores
                    a(href="#")
                        img(src="/img/app-store.png")
                    a(href="#")
                        img(src="/img/MobileGoogle.png")

            .footer__middle-center
                .header__phones
                    .header__phone
                        a(href="tel:74952486670").header__phone-number +7 (495) 248-66-70
                        span.header__phone-sity Москва
                    .header__phone
                        a(href="tel:78007076670").header__phone-number +7 (800) 707-66-70
                        span.header__phone-sity Россия
                .footer__email
                    a(href="mail:sale@expert-cable.ru") sale@expert-cable.ru


