footer.footer
    .container
        .footer__menu
            ul.footer__nav
                li
                    a(href="./suppliers.html") Поставщикам
                li
                    a(href="./companies.html") Реестр компаний
                li
                    a(href="./catalog.html") Каталог
                li
                    a(href="./laws.html") Нормативная база ГК и 223 ФЗ
                li
                    a(href="./customers.html") Заказчикам
                li
                    a(href="#") Торговая площадка
                li
                    a(href="#") Остатки
                li
                    a(href="./about-us.html") О нас
                li
                    a(href="#") Электронная подпись
                li
                    a(href="./quotes.html") Котировки
                li
                    a(href="./tariffs.html") Тарифы
                li
                    a(href="#./news.html") Новости

        .footer__middle
            .footer__middle-left
                a(href="#").footer__logo
                    <svg width="210" height="63" viewBox="0 0 210 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M151.365 52.0017L162.625 63L174.309 52.0017H167.086V47.517H158.588V52.0017H151.365Z" fill="#27B6C4"/>
                    <path d="M174.309 10.9983L163.05 0L151.365 10.9983H158.588V15.483H167.086V10.9983H174.309Z" fill="#27B6C4"/>
                    <path d="M167.618 31.2865L157.739 45.1678H149.348V18.4729H158.058V32.6746L167.724 18.4729H176.328V45.2746H167.618V31.2865Z" fill="#363533"/>
                    <path d="M57.5724 36.5186C57.5724 41.6441 53.7484 45.1678 47.5876 45.1678H37.6027H33.9912V18.3661H42.7014H54.9169V25.7339H42.8076V28.083H47.5876C53.7484 28.083 57.5724 31.3932 57.5724 36.5186ZM48.8622 36.5186C48.8622 35.4508 48.1187 34.8102 46.9502 34.8102H42.8076V38.2271H46.9502C48.1187 38.2271 48.8622 37.5864 48.8622 36.5186Z" fill="#27B6C4"/>
                    <path d="M84.3394 25.7339H77.0101V45.061H68.3V25.7339H60.9707V18.3661H77.0101H84.3394V25.7339Z" fill="#363533"/>
                    <path d="M115.463 27.9763C115.463 33.9559 110.47 37.5864 104.31 37.5864H99.1047V45.1678H90.3945V18.3661H99.1047H104.31C110.47 18.3661 115.463 21.9966 115.463 27.9763ZM106.753 27.9763C106.753 26.5881 105.69 25.8407 104.31 25.8407H99.1047V30.2186H104.31C105.69 30.1118 106.753 29.2576 106.753 27.9763Z" fill="#363533"/>
                    <path d="M142.761 38.0135V45.061H123.96H121.305V18.3661H130.015H142.761V25.4135H130.015V28.4034H142.761V34.9169H130.015V38.1203H142.761V38.0135Z" fill="#363533"/>
                    <path d="M210 31.7135C210 39.2949 203.627 45.061 195.129 45.061H185.25H182.701V18.3661H191.836H195.129C203.627 18.3661 210 24.1322 210 31.7135ZM201.29 31.7135C201.29 28.1898 198.741 25.7339 195.235 25.7339H191.942V37.6932H195.235C198.741 37.6932 201.29 35.2373 201.29 31.7135Z" fill="#363533"/>
                    <path d="M0 31.5C0 39.0814 6.37329 44.8475 14.871 44.8475H24.9621H27.6176V18.1526H18.4825H14.871C6.37329 18.1526 0 23.9187 0 31.5ZM8.71017 31.5C8.71017 27.9763 11.2595 25.5204 14.7648 25.5204H18.3763V37.4797H14.871C11.2595 37.4797 8.71017 35.1306 8.71017 31.5Z" fill="#27B6C4"/>
                    </svg>
                .footer__stores
                    a(href="#")
                        img(src="/img/app-store.png")
                    a(href="#")
                        img(src="/img/MobileGoogle.png")
                .footer__socials
                    a(href="#").footer__social
                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.78521 11.3619H10.9807C10.9807 11.3619 11.3418 11.3222 11.5262 11.1235C11.6959 10.941 11.6904 10.5984 11.6904 10.5984C11.6904 10.5984 11.6671 8.99429 12.4116 8.75808C13.1455 8.52539 14.0879 10.3084 15.0868 10.994C15.8421 11.5129 16.4161 11.3991 16.4161 11.3991L19.087 11.3619C19.087 11.3619 20.4842 11.2758 19.8217 10.1773C19.7674 10.0874 19.4359 9.36464 17.8359 7.87946C16.1612 6.32505 16.3854 6.57647 18.4028 3.88767C19.6314 2.25018 20.1226 1.25047 19.9692 0.822291C19.8228 0.414478 18.9192 0.522269 18.9192 0.522269L15.9119 0.541003C15.9119 0.541003 15.689 0.510594 15.5237 0.609424C15.3621 0.706355 15.2581 0.932254 15.2581 0.932254C15.2581 0.932254 14.7822 2.19941 14.1474 3.27704C12.8082 5.55096 12.2728 5.67097 12.054 5.52979C11.5449 5.20071 11.672 4.20779 11.672 3.5024C11.672 1.2988 12.0062 0.379997 11.0211 0.142151C10.6942 0.0631407 10.4537 0.0110102 9.61769 0.00259329C8.54467 -0.00853875 7.63645 0.00585109 7.12221 0.257815C6.7801 0.425339 6.51619 0.798669 6.67692 0.820119C6.87567 0.846727 7.32584 0.941485 7.5645 1.26649C7.87267 1.6857 7.86181 2.62731 7.86181 2.62731C7.86181 2.62731 8.03884 5.22135 7.44829 5.54363C7.04292 5.76465 6.48686 5.31339 5.29302 3.25043C4.6813 2.1937 4.21945 1.02565 4.21945 1.02565C4.21945 1.02565 4.1304 0.807357 3.97156 0.690607C3.77879 0.549148 3.50944 0.504078 3.50944 0.504078L0.65176 0.522812C0.65176 0.522812 0.222768 0.534759 0.0652904 0.721288C-0.0748108 0.887183 0.0541582 1.23038 0.0541582 1.23038C0.0541582 1.23038 2.29143 6.46461 4.82466 9.10236C7.14746 11.5207 9.78521 11.3619 9.78521 11.3619Z" fill="#31ACB8"/>
                        </svg>
                    a(href="#").footer__social
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 1.53934C15.4115 1.8003 14.7784 1.97681 14.1145 2.05563C14.7924 1.6495 15.3126 1.00689 15.5581 0.23991C14.9238 0.616176 14.221 0.889135 13.4736 1.03626C12.8748 0.398544 12.0217 0 11.077 0C9.26442 0 7.79436 1.47006 7.79436 3.2826C7.79436 3.53989 7.82349 3.79033 7.8798 4.03073C5.15169 3.89388 2.73276 2.58711 1.11362 0.600508C0.831115 1.08522 0.669053 1.6495 0.669053 2.25099C0.669053 3.38958 1.249 4.39475 2.12932 4.98327C1.59148 4.96637 1.08498 4.81876 0.642614 4.57224C0.64237 4.58619 0.642369 4.60015 0.642369 4.61385C0.642369 6.20436 1.77435 7.53096 3.27574 7.83232C3.00058 7.90772 2.71 7.94762 2.41109 7.94762C2.19909 7.94762 1.9937 7.9273 1.79345 7.88911C2.21108 9.19295 3.42312 10.1421 4.85988 10.1687C3.73622 11.0493 2.321 11.5739 0.782643 11.5739C0.518253 11.5739 0.256311 11.5585 0 11.5279C1.45194 12.4596 3.17782 13.0029 5.03149 13.0029C11.0694 13.0029 14.3713 8.00099 14.3713 3.66278C14.3713 3.52055 14.3681 3.37881 14.3618 3.23829C15.0036 2.77561 15.5601 2.19762 16 1.53934Z" fill="#31ACB8"/>
                        </svg>
                    a(href="#").footer__social
                        <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.67766 7.98459H5.30484V16H1.70981V7.98459H0V5.16766H1.70981V3.34478C1.70981 2.04123 2.38136 0 5.33684 0L7.9998 0.0102726V2.74459H6.06765C5.75072 2.74459 5.30507 2.89059 5.30507 3.51242V5.17028H7.99175L7.67766 7.98459Z" fill="#31ACB8"/>
                        </svg>

            .footer__middle-center
                .footer__middle-center-item
                    .header__phones
                        .header__phone
                            a(href="tel:74952486670").header__phone-number +7 (495) 248-66-70
                            span.header__phone-sity Москва
                        .header__phone
                            a(href="tel:78007076670").header__phone-number +7 (800) 707-66-70
                            span.header__phone-sity Россия
                    .footer__email
                        a(href="mail:sale@expert-cable.ru") sale@expert-cable.ru
                .footer__middle-center-item
                    .footer__socials
                        a(href="#").footer__social
                            <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.78521 11.3619H10.9807C10.9807 11.3619 11.3418 11.3222 11.5262 11.1235C11.6959 10.941 11.6904 10.5984 11.6904 10.5984C11.6904 10.5984 11.6671 8.99429 12.4116 8.75808C13.1455 8.52539 14.0879 10.3084 15.0868 10.994C15.8421 11.5129 16.4161 11.3991 16.4161 11.3991L19.087 11.3619C19.087 11.3619 20.4842 11.2758 19.8217 10.1773C19.7674 10.0874 19.4359 9.36464 17.8359 7.87946C16.1612 6.32505 16.3854 6.57647 18.4028 3.88767C19.6314 2.25018 20.1226 1.25047 19.9692 0.822291C19.8228 0.414478 18.9192 0.522269 18.9192 0.522269L15.9119 0.541003C15.9119 0.541003 15.689 0.510594 15.5237 0.609424C15.3621 0.706355 15.2581 0.932254 15.2581 0.932254C15.2581 0.932254 14.7822 2.19941 14.1474 3.27704C12.8082 5.55096 12.2728 5.67097 12.054 5.52979C11.5449 5.20071 11.672 4.20779 11.672 3.5024C11.672 1.2988 12.0062 0.379997 11.0211 0.142151C10.6942 0.0631407 10.4537 0.0110102 9.61769 0.00259329C8.54467 -0.00853875 7.63645 0.00585109 7.12221 0.257815C6.7801 0.425339 6.51619 0.798669 6.67692 0.820119C6.87567 0.846727 7.32584 0.941485 7.5645 1.26649C7.87267 1.6857 7.86181 2.62731 7.86181 2.62731C7.86181 2.62731 8.03884 5.22135 7.44829 5.54363C7.04292 5.76465 6.48686 5.31339 5.29302 3.25043C4.6813 2.1937 4.21945 1.02565 4.21945 1.02565C4.21945 1.02565 4.1304 0.807357 3.97156 0.690607C3.77879 0.549148 3.50944 0.504078 3.50944 0.504078L0.65176 0.522812C0.65176 0.522812 0.222768 0.534759 0.0652904 0.721288C-0.0748108 0.887183 0.0541582 1.23038 0.0541582 1.23038C0.0541582 1.23038 2.29143 6.46461 4.82466 9.10236C7.14746 11.5207 9.78521 11.3619 9.78521 11.3619Z" fill="#31ACB8"/>
                            </svg>
                        a(href="#").footer__social
                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 1.53934C15.4115 1.8003 14.7784 1.97681 14.1145 2.05563C14.7924 1.6495 15.3126 1.00689 15.5581 0.23991C14.9238 0.616176 14.221 0.889135 13.4736 1.03626C12.8748 0.398544 12.0217 0 11.077 0C9.26442 0 7.79436 1.47006 7.79436 3.2826C7.79436 3.53989 7.82349 3.79033 7.8798 4.03073C5.15169 3.89388 2.73276 2.58711 1.11362 0.600508C0.831115 1.08522 0.669053 1.6495 0.669053 2.25099C0.669053 3.38958 1.249 4.39475 2.12932 4.98327C1.59148 4.96637 1.08498 4.81876 0.642614 4.57224C0.64237 4.58619 0.642369 4.60015 0.642369 4.61385C0.642369 6.20436 1.77435 7.53096 3.27574 7.83232C3.00058 7.90772 2.71 7.94762 2.41109 7.94762C2.19909 7.94762 1.9937 7.9273 1.79345 7.88911C2.21108 9.19295 3.42312 10.1421 4.85988 10.1687C3.73622 11.0493 2.321 11.5739 0.782643 11.5739C0.518253 11.5739 0.256311 11.5585 0 11.5279C1.45194 12.4596 3.17782 13.0029 5.03149 13.0029C11.0694 13.0029 14.3713 8.00099 14.3713 3.66278C14.3713 3.52055 14.3681 3.37881 14.3618 3.23829C15.0036 2.77561 15.5601 2.19762 16 1.53934Z" fill="#31ACB8"/>
                            </svg>
                        a(href="#").footer__social
                            <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.67766 7.98459H5.30484V16H1.70981V7.98459H0V5.16766H1.70981V3.34478C1.70981 2.04123 2.38136 0 5.33684 0L7.9998 0.0102726V2.74459H6.06765C5.75072 2.74459 5.30507 2.89059 5.30507 3.51242V5.17028H7.99175L7.67766 7.98459Z" fill="#31ACB8"/>
                            </svg>
                    .footer__address-factory
                        | Завод:
                        br
                        | 302038 г. Орел, ул.
                        br
                        | Раздольная, д.105, пом.8

            .footer__middle-right
                .footer__address-office
                    | Офис
                    br
                    | 121087 г. Москва, Береговой проезд
                    br
                    | д.5А, корп.1, БЦ Фили Град, 4 этаж
                .footer__timetable
                    | Пн-Пт: 09:00 - 20:00,
                    br
                    | Сб - Вс: 10:00 - 16:00

        .footer__bottom
            .footer__bottom-left © 2020. Все права защищены
            .footer__bottom-center
                a(href="./support.html") Техническая поддержка
                a(href="#") Письмо руководителю
                a(href="#") Предложение по улучшению
            .footer__bottom-right
                //a(href="#" target="_blank")
                //    <svg width="105" height="30" viewBox="0 0 105 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                //    <g clip-path="url(#clip0)">
                //    <path d="M17.1893 17.5026C15.3264 18.929 13.5401 20.2804 11.3965 20.8309C15.454 21.6693 19.0777 20.418 22.9438 17.365C26.5037 14.5497 27.9583 7.0797 23.6838 3.21333C22.5993 2.23735 21.3871 1.47409 20.1112 0.936054C19.486 0.698316 18.4397 0.347966 17.1 0.160278C15.6709 0.873491 14.1653 1.94957 12.8128 3.17579C14.5098 2.78791 16.513 2.81293 18.0569 3.46358C22.3441 5.59071 23.3011 12.7979 17.1893 17.5026Z" fill="#EA212D"/>
                //    <path d="M13.4512 26.4985C3.7285 21.6061 2.75879 13.4604 9.06195 5.84032C10.9248 3.58807 13.6554 1.23572 16.1434 0.0470287C15.8755 0.0345162 15.582 0.0220037 15.263 0.00949119C15.2758 0.00949119 15.2886 0.00949119 15.2886 0.00949119C15.2503 0.00949119 15.2248 0.00949119 15.1865 0.00949119C14.4592 -0.0155338 13.6681 -0.00302132 13.0046 0.122104C8.80676 0.922905 4.87685 3.12511 2.41428 6.90389C-2.17912 13.9359 -0.0227709 23.2452 7.22459 27.6997C9.17679 28.9009 11.3076 29.6266 13.464 29.9019C14.1912 29.9895 14.9185 30.0145 15.6331 29.9895C17.968 29.8894 20.2647 29.1887 22.3701 28.1877C19.6013 28.1501 16.0924 27.8248 13.4512 26.4985Z" fill="#EA212D"/>
                //    <path d="M48.8963 19.2291C47.8755 20.13 46.4465 20.5804 44.6474 20.5804H37.8211C36.8386 20.5804 35.9072 20.4052 35.0395 20.0674C33.8146 19.5919 33.2021 18.8662 33.2021 17.9153V12.0719C33.2021 11.146 33.8274 10.4453 35.0778 9.99482C35.9454 9.68201 36.8769 9.53186 37.8593 9.53186H44.7239C45.5661 9.53186 46.4592 9.68201 47.4034 9.99482C48.6921 10.4453 49.3428 11.0709 49.3428 11.8592V14.0614C49.3428 15.5629 47.8117 16.3011 44.7494 16.3011H37.8211V18.4658H49.3428C49.3301 18.7161 49.1897 18.9788 48.8963 19.2291ZM44.6474 11.8217H37.8211V14.149H44.6474V11.8217Z" fill="black"/>
                //    <path d="M61.6042 14.9498L66.5549 20.5804H61.4383L58.7971 17.3647L57.2915 19.1039C56.4366 20.0924 55.5434 20.5804 54.612 20.5804H50.5928L55.6838 14.9498L51.0649 9.53186H55.9517L58.7971 12.5349L61.4128 9.53186H66.5676L61.6042 14.9498Z" fill="black"/>
                //    <path d="M74.874 20.5806C74.4274 20.5806 73.9298 20.543 73.3684 20.4555C71.799 20.2302 71.0206 19.492 71.0206 18.2533V11.8218H68.2773V9.53203H71.0206V5.04004C72.3859 5.04004 73.2918 5.1026 73.7639 5.21521C75.0143 5.52803 75.6395 6.19119 75.6395 7.2047V9.56957H79.0208C79.0208 9.85736 78.9697 10.1201 78.8804 10.3704C78.5232 11.3589 77.4386 11.8468 75.6268 11.8468V18.4535H79.008C79.0335 19.8799 77.6428 20.5806 74.874 20.5806Z" fill="black"/>
                //    <path d="M97.7647 22.9953C97.7647 23.9212 97.1523 24.6094 95.9274 25.0223C95.1235 25.2976 94.2048 25.4478 93.1841 25.4478H86.8171V25.0223C86.7533 24.4343 87.1489 23.9087 88.0165 23.4583C88.5014 23.208 89.5732 23.0829 91.2319 23.0829H93.1458V20.5804H86.1153C85.4519 20.5804 84.8266 20.5554 84.2397 20.4928C82.5044 20.3176 81.624 19.3542 81.624 17.5774V9.53186C82.9 9.64447 83.8569 9.71955 84.5077 9.74457C85.7198 10.0574 86.3195 10.7581 86.3195 11.8592V18.4658H93.1458V9.53186H97.7647V22.9953Z" fill="black"/>
                //    <path d="M103.162 20.3677C102.627 20.5053 101.695 20.5804 100.381 20.5804V5.05237H105V18.3031C105 19.3417 104.387 20.0298 103.162 20.3677Z" fill="black"/>
                //    </g>
                //    <defs>
                //    <clipPath id="clip0">
                //    <rect width="105" height="30" fill="white"/>
                //    </clipPath>
                //    </defs>
                //    </svg>

