footer.footer
    .container
        .footer__top
            .footer__columns
                .footer__column
                    a.footer__logo(href="./")
                        <svg width="150" height="51" viewBox="0 0 150 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M72.4328 10.8368H76.351V23.1841H79.672C80.0517 23.1841 80.3613 22.8729 80.3613 22.4914V10.8368H84.2795C84.6628 10.8368 84.9725 10.5257 84.9725 10.1404V7.19897H71.7399V10.1404C71.7399 10.5257 72.0495 10.8368 72.4328 10.8368Z" fill="white"/>
                        <path d="M113.321 20.2501C113.321 19.8611 113.008 19.5462 112.621 19.5462H106.196V16.8604H112.628V13.2337C112.628 13.2263 112.624 13.2226 112.617 13.2226H106.196V10.8368H112.628C113.011 10.8368 113.321 10.5257 113.321 10.1404V7.19897H102.186V23.1841H113.321V20.2501Z" fill="white"/>
                        <path d="M125.946 7.70287C125.857 7.40651 125.588 7.20276 125.278 7.20276H120.321C120.015 7.20276 119.742 7.40651 119.654 7.70287L115.352 22.2951C115.219 22.7396 115.555 23.1879 116.016 23.1879H119.156L119.941 20.3391H125.658L126.443 23.1879H129.584C130.048 23.1879 130.38 22.7396 130.247 22.2951L125.946 7.70287ZM121.003 16.7012L122.403 11.7519C122.518 11.3519 123.085 11.3519 123.196 11.7519L124.597 16.7012H121.003Z" fill="white"/>
                        <path d="M28.5957 32.337L32.171 28.7436L35.7464 25.1502L32.171 21.5568L28.5957 25.1502L25.0203 28.7436L21.4449 32.337L17.8695 35.9304L14.2941 32.337L10.7188 28.7436L7.14339 25.1502L10.7188 21.5568L14.2941 17.9634L17.8695 14.3699L21.4449 10.7765L25.0203 7.18312C26.996 5.19748 26.996 1.98193 25.0203 0L21.4449 3.59341L17.8695 7.18683L14.2941 10.7802L10.7188 14.3737L7.14339 17.9671L3.56801 21.5605L0 25.1539L3.57538 28.7473L7.15076 32.3407L10.7261 35.9341L14.3015 39.5275L17.8769 43.121L21.4523 39.5275L25.0277 35.9341L28.5957 32.337Z" fill="white"/>
                        <path d="M42.8937 17.9714L39.3183 14.378L35.7429 10.7846L32.1675 7.19116L28.5922 10.7846L25.0168 14.378L21.4414 17.9714L17.866 21.5648L14.2906 25.1582L17.866 28.7516L21.4414 25.1582L25.0168 21.5648L28.5922 17.9714L32.1675 14.378L35.7429 17.9714L39.3183 21.5648L42.8937 25.1582L39.3183 28.7516L35.7429 32.3451L32.1675 35.9385L28.5922 39.5319L25.0168 43.1253C23.0411 45.1109 23.0411 48.3265 25.0168 50.3084L28.5922 46.715L32.1675 43.1216L35.7429 39.5282L39.3183 35.9348L42.8937 32.3413L46.4691 28.7479L50.0444 25.1545L46.4691 21.5611L42.8937 17.9714Z" fill="white"/>
                        <path d="M67.0622 13.782L62.7975 12.9485C62.6132 12.9041 62.5211 12.7781 62.5211 12.5781V11.0962C62.5211 10.9258 62.6058 10.8406 62.7754 10.8406C62.7754 10.8406 63.6785 10.8406 65.8716 10.8406C68.0611 10.8406 69.4912 8.99576 69.4912 7.20276H69.4838H62.569C59.8635 7.20276 58.5107 8.56233 58.5107 11.2815V12.604C58.5107 14.8119 59.4728 16.1011 61.3932 16.4715L65.6578 17.3532C65.8421 17.3829 65.9343 17.5088 65.9343 17.7237V19.2981C65.9343 19.4685 65.8495 19.5537 65.6799 19.5537C65.6799 19.5537 65.1344 19.5537 62.1304 19.5537C59.7898 19.5537 58.5107 21.5727 58.5107 23.1916H60.3095H62.1304H65.89C68.5955 23.1916 69.9483 21.832 69.9483 19.1129V17.6755C69.9446 15.4787 68.9826 14.1821 67.0622 13.782Z" fill="white"/>
                        <path d="M144.596 8.81416L141.29 15.9121L137.987 8.81786C137.527 7.83245 136.543 7.19897 135.455 7.19897H132.576V23.1841H135.894C136.277 23.1841 136.587 22.8729 136.587 22.4877V14.5673L139.488 20.8095C139.602 21.0577 139.849 21.217 140.122 21.217H142.455C142.728 21.217 142.975 21.0577 143.089 20.8095L145.99 14.5673V22.4839C145.99 22.8692 146.303 23.1841 146.686 23.1841H150V7.20268H147.118C146.041 7.20268 145.057 7.82875 144.596 8.81416Z" fill="white"/>
                        <path d="M81.5003 27.7145C81.4118 27.4181 81.1427 27.2144 80.8331 27.2144H75.8755C75.5696 27.2144 75.2968 27.4181 75.2083 27.7145L70.9068 42.3067C70.7741 42.7512 71.1096 43.1995 71.5703 43.1995H74.7107L75.4959 40.3507H81.2128L81.9979 43.1995H85.1383C85.6028 43.1995 85.9345 42.7512 85.8018 42.3067L81.5003 27.7145ZM76.5574 36.7128L77.9581 31.7635C78.0723 31.3635 78.64 31.3635 78.7506 31.7635L80.1512 36.7128H76.5574Z" fill="white"/>
                        <path d="M68.2527 39.5616H62.5211V27.2144H62.5137L58.5107 31.2375V43.1995H68.9531V40.2655C68.9531 39.8765 68.6398 39.5616 68.2527 39.5616Z" fill="white"/>
                        <path d="M110.892 33.7753L106.628 32.9418C106.443 32.8973 106.351 32.7714 106.351 32.5713V31.0895C106.351 30.9191 106.436 30.8339 106.605 30.8339C106.605 30.8339 107.509 30.8339 109.702 30.8339C111.891 30.8339 113.321 28.989 113.321 27.196H113.314H106.399C103.694 27.196 102.341 28.5556 102.341 31.2748V32.5973C102.341 34.8052 103.303 36.0944 105.223 36.4648L109.488 37.3465C109.672 37.3761 109.764 37.5021 109.764 37.717V39.2914C109.764 39.4618 109.68 39.547 109.51 39.547C109.51 39.547 108.964 39.547 105.96 39.547C103.62 39.547 102.341 41.566 102.341 43.1849H104.14H105.96H109.72C112.426 43.1849 113.778 41.8253 113.778 39.1062V37.6688C113.775 35.4757 112.816 34.1791 110.892 33.7753Z" fill="white"/>
                        <path d="M98.4444 34.8458L98.4149 34.8235C98.7356 34.5457 99.0083 34.2123 99.2147 33.8418C99.5022 33.3269 99.6681 32.7379 99.6718 32.1081C99.6718 32.0933 99.6755 32.0822 99.6755 32.0673H99.6718V31.2264C99.6718 28.5073 98.319 27.1477 95.6135 27.1477H88.0057V43.1328H96.0743C98.7798 43.1328 100.133 41.7733 100.133 39.0541V37.9205C100.133 36.9685 99.7676 36.109 99.1742 35.4607C98.9604 35.2236 98.7134 35.0162 98.4444 34.8458ZM92.0234 30.7856H94.9648C95.3519 30.7856 95.6652 31.1005 95.6652 31.4894V32.4674C95.6652 32.8564 95.3519 33.1713 94.9648 33.1713H92.0234V30.7856ZM96.1259 38.8059C96.1259 39.1875 95.82 39.495 95.4403 39.495H92.0234V36.8092H95.4403C95.82 36.8092 96.1259 37.1166 96.1259 37.4982V38.8059Z" fill="white"/>
                        <path d="M91.3492 18.0015H93.1442L94.7476 21.1319C95.3484 22.2877 96.5095 23.0286 97.6485 23.162C98.7874 23.2953 99.7126 22.8619 99.908 22.7582L98.9459 20.9096L97.2873 17.657C98.5773 17.0717 99.2187 15.8381 99.2187 13.9562V11.0184C99.2187 8.91056 97.5195 7.20276 95.4222 7.20276H87.3425V23.162H91.3455V18.0015H91.3492ZM91.3492 10.8332H94.5265C94.9061 10.8332 95.2157 11.1444 95.2157 11.526V13.6783C95.2157 14.0599 94.9061 14.3711 94.5265 14.3711H91.3492V10.8332Z" fill="white"/>
                        </svg>
                .footer__column
                    .footer__column-title Social media
                    .socials
                        a.socials__item.icon-facebook-alt(href="#")
                        a.socials__item.icon-linkedin(href="#")
                        a.socials__item.icon-instagram(href="#")
                        a.socials__item.icon-youtube(href="#")
                .footer__column
                    .footer__column-title Contact the office
                    ul
                        li: a(href="tel:+37166015710") +371 66015710
                        li: a(href="mailto:info@stream-labs.com") info@stream-labs.com
                .footer__column
                    .footer__column-title 24/7 Support
                    ul
                        li: a(href="tel:+37166015710") +371 66015710
                        li: a(href="mailto:support@stream-labs.com") support@stream-labs.com
        .footer__nav
            .footer__columns
                .footer__column
                    a(href="#") Solutions
                    ul
                        li: a(href="#") MultiScreen
                        li: a(href="#") MultiTuner
                        li: a(href="#") MultiProbe
                        li: a(href="#") MultiRec
                        li: a(href="#") VRec
                        li: a(href="#") VPlay
                        li: a(href="#") MultiPlanner
                .footer__column
                    a(href="#") Applications
                    ul
                        li: a(href="#") Signals and headend monitoring
                        li: a(href="#") TV&Radio network monitoring
                        li: a(href="#") Compilance recording
                        li: a(href="#") Broadcast Automation
                        li: a(href="#") MAM and Traffic system
                        li: a(href="#") Video and audio I/O Studio and broadcast gear
                        li: a(href="#") Artificial intelligent
                        li: a(href="#") Emergency Warning System
                        li: a(href="#") Commercial of the Shelf
                        li: a(href="#") Supply installation Testing Commissioning
                .footer__column
                    a(href="#") Support
                    ul
                        li: a(href="./support.html") Get Support
                        li: a(href="#") Knowledge base
                        li: a(href="#") Downloads & Docs
                .footer__column
                    a(href="#") Company
                    ul
                        li: a(href="./company-about.html") About Us
                        li: a(href="./news.html") News & Awards
                        li: a(href="#") Success stories
                        li: a(href="./events.html") Trade Shows & Events
                        li: a(href="./company-partnership.html") Partnership
                        li: a(href="./company-investment.html") Investment opportunities
                        li: a(href="./company-terms.html") Terms & Warranty
        .footer__bottom
            .footer__columns
                .footer__column
                    .footer__column-title Privacy Matters
                    p Our privacy center males it easy to see how we collect and use your information.
                .footer__column
                    .footer__column-title Your Privacy
                    p When we collect your personal information. we always inform you of your rights and make it easy for you to exercise them/ Where possible. we also let you manage your preferences about how much information you choose to share with us. or our partners.
                .footer__column
                    .footer__column-title Our Policies
                    p Read our #[a(href="#") Privacy Policy] and #[a(href="./company-cookies.html") Cookie Policy].
                .footer__column
                    .footer__column-title Your Rights
                    p Exercise Your Rights. Let us know how we can help.
                        br
                        | Do not Sell My Personal Information.
        .footer__copyrights Copyright 2020 StreamLabs
