header.header
    include ./mobile-header
    .header__top
        .container
            .header__rate
                .header__rate-container
                    .header__rate-currency
                        .header__rate-price $ 74.45
                        .header__rate-share -0.67
                    .header__rate-currency
                        .header__rate-price € 80.86
                        .header__rate-share +0.32
                .header__rate-container
                    .header__rate-currency
                        .header__rate-price Cooper $5194
                        .header__rate-share -0.12% (спот 408 487.25 ₽)
                    .header__rate-currency
                        .header__rate-price ALUM $5194
                        .header__rate-share -0.05% (спот 408 487.25 ₽)
            .header__links
                .header__links-container
                    a(href="./about-us.html" data-menu="#solutions") О нас
                    a(href="./news.html" data-menu="#applications") Новости
                .header__links-container
                    a(href="#" data-menu="#company")
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4733 12.5266L10.9999 10.0733C11.96 8.87621 12.4249 7.3568 12.2991 5.82747C12.1733 4.29814 11.4664 2.87512 10.3236 1.85103C9.18085 0.82694 7.68914 0.27961 6.15522 0.321583C4.62129 0.363557 3.16175 0.991644 2.0767 2.0767C0.991644 3.16175 0.363557 4.6213 0.321583 6.15522C0.27961 7.68914 0.82694 9.18085 1.85103 10.3236C2.87512 11.4664 4.29814 12.1733 5.82747 12.2991C7.3568 12.4249 8.87621 11.96 10.0733 10.9999L12.5266 13.4533C12.5886 13.5158 12.6623 13.5654 12.7436 13.5992C12.8248 13.633 12.9119 13.6505 12.9999 13.6505C13.0879 13.6505 13.1751 13.633 13.2563 13.5992C13.3376 13.5654 13.4113 13.5158 13.4733 13.4533C13.5934 13.329 13.6606 13.1628 13.6606 12.9899C13.6606 12.817 13.5934 12.6509 13.4733 12.5266ZM6.33327 10.9999C5.41029 10.9999 4.50804 10.7262 3.74061 10.2135C2.97318 9.70068 2.37504 8.97185 2.02183 8.11913C1.66862 7.2664 1.57621 6.32809 1.75627 5.42285C1.93634 4.5176 2.38079 3.68608 3.03344 3.03344C3.68608 2.38079 4.5176 1.93634 5.42285 1.75627C6.32809 1.57621 7.2664 1.66862 8.11913 2.02183C8.97185 2.37504 9.70068 2.97318 10.2135 3.74061C10.7262 4.50804 10.9999 5.41029 10.9999 6.33327C10.9999 7.57095 10.5083 8.75793 9.6331 9.6331C8.75793 10.5083 7.57095 10.9999 6.33327 10.9999Z" fill="#31ACB8"/>
                        </svg>
                        span Поиск
                    a(href="./support.html" data-menu="#support")
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9601 7.66662C11.8134 7.66662 11.6601 7.61995 11.5134 7.58662C11.2164 7.52117 10.9245 7.43427 10.6401 7.32662C10.3308 7.21411 9.99083 7.21995 9.68561 7.34302C9.38038 7.4661 9.13146 7.69771 8.98673 7.99329L8.84007 8.29329C8.19074 7.93207 7.59406 7.48344 7.06673 6.95995C6.54325 6.43263 6.09461 5.83595 5.7334 5.18662L6.0134 4.99995C6.30898 4.85523 6.54059 4.60631 6.66366 4.30108C6.78674 3.99585 6.79258 3.65589 6.68007 3.34662C6.57422 3.06157 6.48736 2.76982 6.42007 2.47329C6.38673 2.32662 6.36007 2.17329 6.34007 2.01995C6.25911 1.55037 6.01315 1.12511 5.64648 0.820779C5.27981 0.516444 4.81653 0.353025 4.34007 0.359953H2.34007C2.05275 0.357255 1.76823 0.416495 1.50587 0.53364C1.24351 0.650784 1.00947 0.823083 0.819687 1.03881C0.629901 1.25453 0.488824 1.50862 0.406059 1.78376C0.323295 2.05891 0.300787 2.34866 0.340067 2.63329C0.695226 5.42621 1.97075 8.0212 3.96517 10.0084C5.95958 11.9955 8.55921 13.2616 11.3534 13.6066H11.6067C12.0983 13.6073 12.573 13.427 12.9401 13.1C13.151 12.9113 13.3195 12.6801 13.4344 12.4215C13.5493 12.1629 13.608 11.8829 13.6067 11.6V9.59995C13.5986 9.13688 13.4299 8.69099 13.1296 8.3384C12.8293 7.98581 12.4159 7.74837 11.9601 7.66662ZM12.2934 11.6666C12.2933 11.7613 12.273 11.8548 12.2339 11.941C12.1948 12.0272 12.1378 12.1041 12.0667 12.1666C11.9925 12.2313 11.9054 12.2796 11.8112 12.3083C11.717 12.337 11.6178 12.3455 11.5201 12.3333C9.02333 12.0132 6.70422 10.8709 4.92854 9.08681C3.15286 7.30268 2.02167 4.97818 1.7134 2.47995C1.70279 2.3823 1.71209 2.28351 1.74074 2.18955C1.76938 2.09559 1.81678 2.00841 1.88007 1.93329C1.94254 1.86217 2.01944 1.80518 2.10565 1.7661C2.19186 1.72701 2.28541 1.70674 2.38007 1.70662H4.38007C4.5351 1.70317 4.68648 1.75387 4.80816 1.85C4.92984 1.94613 5.01421 2.08167 5.04673 2.23329C5.0734 2.41551 5.10673 2.59551 5.14673 2.77329C5.22375 3.12472 5.32624 3.47007 5.4534 3.80662L4.52007 4.23995C4.44026 4.27657 4.36848 4.32858 4.30884 4.39302C4.2492 4.45745 4.20287 4.53303 4.17251 4.61542C4.14216 4.6978 4.12838 4.78537 4.13197 4.8731C4.13555 4.96083 4.15643 5.04698 4.1934 5.12662C5.15287 7.18179 6.8049 8.83382 8.86007 9.79329C9.02237 9.85996 9.20443 9.85996 9.36673 9.79329C9.44987 9.76355 9.52628 9.71759 9.59151 9.65808C9.65675 9.59857 9.70951 9.52669 9.74673 9.44662L10.1601 8.51329C10.5047 8.63654 10.8565 8.73894 11.2134 8.81995C11.3912 8.85995 11.5712 8.89329 11.7534 8.91995C11.905 8.95248 12.0406 9.03684 12.1367 9.15852C12.2328 9.2802 12.2835 9.43159 12.2801 9.58662L12.2934 11.6666Z" fill="#31ACB8"/>
                        </svg>
                        span Заказать звонок
    .header__middle
        .container
            a.header__logo(href="./")
                <svg width="201" height="60" viewBox="0 0 201 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M144.879 49.5255L155.656 60L166.839 49.5255H159.926V45.2543H151.792V49.5255H144.879Z" fill="#27B6C4"/>
                <path d="M166.839 10.4746L156.063 0L144.879 10.4746H151.792V14.7458H159.926V10.4746H166.839Z" fill="#27B6C4"/>
                <path d="M160.434 29.7966L150.979 43.017H142.947V17.5933H151.284V31.1187L160.536 17.5933H168.771V43.1187H160.434V29.7966Z" fill="#363533"/>
                <path d="M55.1047 34.7797C55.1047 39.6611 51.4446 43.017 45.5478 43.017H35.9909H32.5342V17.4916H40.8711H52.563V24.5085H40.9727V26.7458H45.5478C51.4446 26.7458 55.1047 29.8984 55.1047 34.7797ZM46.7679 34.7797C46.7679 33.7628 46.0562 33.1526 44.9378 33.1526H40.9727V36.4068H44.9378C46.0562 36.4068 46.7679 35.7967 46.7679 34.7797Z" fill="#27B6C4"/>
                <path d="M80.7256 24.5085H73.7104V42.9153H65.3736V24.5085H58.3584V17.4916H73.7104H80.7256V24.5085Z" fill="#363533"/>
                <path d="M110.514 26.6441C110.514 32.339 105.736 35.7967 99.8392 35.7967H94.8574V43.017H86.5205V17.4916H94.8574H99.8392C105.736 17.4916 110.514 20.9492 110.514 26.6441ZM102.178 26.6441C102.178 25.3221 101.161 24.6102 99.8392 24.6102H94.8574V28.7797H99.8392C101.161 28.678 102.178 27.8645 102.178 26.6441Z" fill="#363533"/>
                <path d="M136.644 36.2034V42.9153H118.648H116.106V17.4916H124.443H136.644V24.2034H124.443V27.0509H136.644V33.2543H124.443V36.3051H136.644V36.2034Z" fill="#363533"/>
                <path d="M201 30.2034C201 37.4238 194.9 42.9153 186.766 42.9153H177.311H174.871V17.4916H183.615H186.766C194.9 17.4916 201 22.9831 201 30.2034ZM192.663 30.2034C192.663 26.8475 190.223 24.5085 186.868 24.5085H183.716V35.8984H186.868C190.223 35.8984 192.663 33.5594 192.663 30.2034Z" fill="#363533"/>
                <path d="M0 30C0 37.2203 6.10015 42.7118 14.2337 42.7118H23.8923H26.434V17.2881H17.6904H14.2337C6.10015 17.2881 0 22.7796 0 30ZM8.33687 30C8.33687 26.644 10.7769 24.305 14.132 24.305H17.5888V35.6949H14.2337C10.7769 35.6949 8.33687 33.4576 8.33687 30Z" fill="#27B6C4"/>
                </svg>
            .header__phones
                .header__phone
                    a(href="tel:74952486670").header__phone-number +7 (495) 248-66-70
                    span.header__phone-sity Москва
                .header__phone
                    a(href="tel:78007076670").header__phone-number +7 (800) 707-66-70
                    span.header__phone-sity Россия
            .header-login-status
    .header__bottom
        .container
            .js-more
                ul.header__nav.js-more__items
                    -
                        nav = [
                            {
                                href: './suppliers.html',
                                title: 'Поставщикам',
                            },
                            {
                                href: './customers.html',
                                title: 'Заказчикам',
                            },
                            {
                                href: './catalog.html',
                                title: 'Каталог',
                            },
                            {
                                href: '#',
                                title: 'Электронная подпись',
                            },
                            {
                                href: './laws.html',
                                title: '223-ФЗ',
                            },
                            {
                                href: '#',
                                title: 'Торговая площадка',
                            },
                            {
                                href: './companies.html',
                                title: 'Реестр компаний',
                            },
                            {
                                href: './quotes.html',
                                title: 'Котировки',
                            },
                            {
                                href: '#',
                                title: 'Сервисы',
                            },
                            {
                                href: '#',
                                title: 'Остатки',
                            },
                            {
                                href: './tariffs.html',
                                title: 'Тарифы',
                            },
                        ];
                    for item in nav
                        li.js-more__item
                            a(href=item.href class= currentPage === item.title ? 'active' : '') #{item.title}
