.join
    .container
        h4.join__title Join us today.
        p 130, 000 companies use Stream Labs daily.
        .btns
            a.btn.btn--fill(href="#") Request A Quote
            a.btn.btn--white(href="#") Full product catalog
