.mobile-nav
    .mobile-nav__bg
    .mobile-nav__body
        .mobile-nav__head
            .mobile-nav__close
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7742 19.3168C18.2002 19.7428 18.891 19.7428 19.317 19.3168C19.743 18.8908 19.743 18.2001 19.317 17.7741L13.5429 12L19.317 6.22596C19.743 5.79993 19.743 5.10921 19.317 4.68318C18.891 4.25715 18.2002 4.25715 17.7742 4.68318L12.0001 10.4572L6.22607 4.68317C5.80004 4.25714 5.10932 4.25714 4.68329 4.68317C4.25726 5.10919 4.25726 5.79992 4.68329 6.22595L10.4574 12L4.68329 17.7741C4.25726 18.2001 4.25726 18.8908 4.68329 19.3168C5.10932 19.743 5.80004 19.743 6.22607 19.3168L12.0001 13.5428L17.7742 19.3168Z" fill="#31ACB8"/>
                </svg>
            .header-login-status
            .header__phones
                .header__phone
                    a(href="tel:74952486670").header__phone-number +7 (495) 248-66-70
                    span.header__phone-sity Москва
                .header__phone
                    a(href="tel:78007076670").header__phone-number +7 (800) 707-66-70
                    span.header__phone-sity Россия

        .mobile-nav__menu
            ul.mobile-nav__nav
                li: a(href="#") Поставщикам
                li: a.active(href="#") Заказчикам
                li: a(href="#") Каталог
                li: a(href="#") Электронная подпись
                li: a(href="#") Реестр компаний
                li: a(href="#") Торговая площадка
                li: a(href="#") Реестр компаний
                li: a(href="#") Котировки
                //li: a(href="#") Сервисы
                li: a(href="#") Остатки
                li: a(href="#") Тарифы
                li: a(href="#") Нормативная база ГК и 223 ФЗ
                li: a(href="#") О нас
                li: a(href="#") Новости
