nav.nav
    .container
        .nav__wrap
            #menu.nav__menu
                .nav__items
                    #solutions.nav__item.opened
                        .nav__item-title
                            a(href="#") Solutions
                            .nav__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .nav__item-content
                            ul
                                li
                                    a(href="#") Monitoring Solutions and Multiviewers
                                    ul
                                        li: a(href="#") MultiScreen
                                        li: a(href="#") MultiTuner
                                        li: a(href="#") MultiProbe
                                li
                                    a(href="#") Devices
                                    ul
                                        li: a(href="#") MultiDelay
                                        li: a(href="#") ASI/SDI Splitter
                                        li: a(href="#") WaveServers
                                        li: a(href="#") Server Watch Dog
                                        li: a(href="#") GPI Input and Output Card
                                li
                                    a(href="#") Recording Solutions
                                    ul
                                        li: a(href="#") MultiRec
                                        li: a(href="#") VRec
                                li
                                    a(href="#") PCle Capture Cards
                                    ul
                                        li: a(href="#") MH4LM
                                        li: a(href="#") MS4/MS2
                                        li: a(href="#") MS416
                                        li: a(href="#") MH8CV
                                        li: a(href="#") MSP2
                                        li: a(href="#") 2R1T & 4R1T
                                        li: a(href="#") Balanced 2.0
                                        li: a(href="#") MFormats SDK
                                        li: a(href="#") Stream Labs SDK
                                li
                                    a(href="#") Playout and Automation
                                    ul
                                        li: a(href="#") VPlay
                                        li: a(href="#") VRec
                                li: a(href="#") Discounted

                    #applications.nav__item
                        .nav__item-title
                            a(href="#") Applications
                            .nav__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .nav__item-content
                            ul
                                li: a(href="#") 3.X Signals and headend monitoring
                                li: a(href="#") TV&Radio network monitoring
                                li: a(href="#") Compilance recording
                                li: a(href="#") Broadcast Automation
                                li: a(href="#") MAM and Traffic system
                                li: a(href="#") Video and audio I/O Studio and broadcast gear
                                li: a(href="#") Artificial intelligent
                                li: a(href="#") Emergency Warning System
                                li: a(href="#") Commercial of the Shelf
                                li: a(href="#") Supply installation Testing Commissioning

                    #company.nav__item
                        .nav__item-title
                            a(href="#") Company
                            .nav__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .nav__item-content
                            ul
                                li: a(href="./company-about.html") About Us
                                li: a(href="./news.html") News & Awards
                                li: a(href="#") Success stories
                                li: a(href="./events.html") Trade Shows & Events
                                li: a(href="./company-partnership.html") Partnership
                                li: a(href="./company-investment.html") Investment opportunities
                                li: a(href="./company-terms.html") Terms & Warranty

                    #support.nav__item
                        .nav__item-title
                            a(href="#") Support
                            .nav__item-arrow: svg.icon-arrow: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#arrow")
                        .nav__item-content
                            ul
                                li: a(href="./support.html") Get Support
                                li: a(href="#") Knowledge base
                                li: a(href="#") Downloads & Docs
                .nav__contacts
                    .nav__contacts-title Contacts
                    ul
                        li: a(href="tel:+37166015710") +371 66015710
                        li: a(href="mailto:info@stream-labs.com") info@stream-labs.com
                    p Leave a request and managers will contact you at a convenient time
                    a.btn(href="#") Leave a request
                #region.nav__lang
                    .nav__lang-title Select your region
                    ul
                        li: a(href="#") Latvia
                        li.active: a(href="#") USA
                        li: a(href="#") Mexico
                        li: a(href="#") India
                        li: a(href="#") Russia
                        li: a(href="#") UAE
                        li: a(href="#") GB
            #search.nav__search
                .nav__search-title What are we looking for?
                form.js-search.nav__search-form
                    input(type="text" placeholder="For example, New features SMPTE ST 2022-6")
                .nav__search-items
                    a(href="javascript:{}") Compilance recording
                    a(href="javascript:{}") Artificial intelligent
                    a(href="javascript:{}") Commercial of the Shelf
                    a(href="javascript:{}") TV&Radio network monitoring
                    a(href="javascript:{}") Partnership
                    a(href="javascript:{}") Success stories
                    a(href="javascript:{}") MAM and Traffic system
                    a(href="javascript:{}") Server Watch Dog
                    a(href="javascript:{}") MultiProbe
                    a(href="javascript:{}") MFormats SDK