#default.popup.popup--alt
    .popup__body
        .popup__content
            .popup__close.close-popup: svg.sprite-close: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#close")
            .popup__content-container