#singin.popup.popup--alt
    .popup__body
        .popup__content
            .popup__close.close-popup: svg.sprite-close: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#close")

            .popup__title Вход

            .popup__content-container

            p Нет личного кабинета - #[a(href=locals.env.LK_SUPP+"/registration") Зарегистрируйтесь]
            p Нужно быстро? - #[a(href="#") Ускоренная регистрация]
            a.btn.btn--bdr(href="#") Войти по электронной подписи

            include popups-problems
