.popup__problems
    strong Возникли проблемы? 
    br
    br
    | Свяжись с нами по телефону:
    br
    a(href="tel:+79993332211") + 7 999 - 333 - 22 - 11
    | &nbsp;(круглосуточно)
    br
    strong или
    br
    a(href="#") Заполни заявку
    | &nbsp;- менеджер ответит Вам в течении 30 минут