.subscribe
    .container
        h4.subscribe__title Stay connected
        p Sign up for our newsletter to get updates straight to your inbox
        form.subscribe__form.js-validate(method="post")
            input.field(type="email" name="email" placeholder="What’s your email address?" required="required")
            button(type="submit"): svg.icon-more: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#more")