extends ../layouts/default
include ../blocks/page-banner
include ../blocks/bread-crumbs

block default
    - var title = 'О нас';

block content

    +breadCrumbs([
        'Главная',
        'О нас'
    ])

    +pageBanner('О нас', '/content/about-us.jpg')

    .about-us
        .section.section--green
            .container
                .about-us__description
                    p.typography.typography--accent Кабельный Завод “ЭКСПЕРТ-КАБЕЛЬ“ располагается в г. Орёл на территории Индустриального Парка “Орёл“. Завод основан 01 апреля 2014 года на площадях бывшего советского сталепрокатного завода-гиганта.
                    p.typography Мы начинали своё развитие с площади в 5 000 кв.м., и к началу 2019 года в нашем распоряжении уже более 20 000 кв.м. складских и производственных площадей. На сегодняшний день КЗ “ЭКСПЕРТ-КАБЕЛЬ“ молодое, высокотехнологичное и многофункциональное производственное предприятие полного цикла. В 2016 году реализован проект цеха по переработке меди. Запущен процесс восходящего непрерывного литья по технологии Upcast®. Налажено серийное производство катанки диаметром от 8 до 25 мм из бескислородной меди марки М00 (химический состав по ГОСТ 859-2001). Производительность линии до 12 000 тонн в год.
                .info-slider.info-slider--about.swiper-container.advantages-slider-js
                    .info-slider__navigation-slider
                        .swiper-button-prev
                            <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.75 2.5L2.25 10L9.75 17.5" stroke="#31ACB8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .swiper-button-next
                            <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.25 2.5L9.75 10L2.25 17.5" stroke="#31ACB8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .swiper-wrapper
                        .swiper-slide
                            .info-slider__pattern
                                <svg width="123" height="98" viewBox="0 0 123 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.683013 -9.81699L107.204 -71.317L168.704 35.2041L105.051 71.9541C81.3758 85.6232 51.1021 77.5114 37.433 53.8359L0.683013 -9.81699Z" fill="white" stroke="#31ACB8"/>
                                </svg>
                            .info-slider__icon
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35.4399 8.04001C30.4399 6.28001 25.7199 3.72001 21.5199 0.52001C20.5999 -0.15999 19.3599 -0.15999 18.4799 0.52001C14.2399 3.72001 9.55988 6.28001 4.55988 8.04001C3.55988 8.40001 2.87988 9.36001 2.87988 10.44C2.87988 19.24 4.59988 25.88 8.03988 30.76C10.8799 34.72 14.4399 37 17.6399 39L18.5999 39.6C19.4399 40.12 20.5199 40.12 21.3199 39.6L22.2799 39C25.4399 37 29.0799 34.72 31.8799 30.76C35.3599 25.92 37.0799 19.28 37.0799 10.48C37.1199 9.36001 36.4399 8.40001 35.4399 8.04001ZM29.8399 29.24C27.3199 32.8 24.0799 34.84 20.9599 36.8C20.6399 37 20.3199 37.2 20.0399 37.4L19.0799 36.8C15.9199 34.84 12.7199 32.8 10.1599 29.24C6.99988 24.84 5.43988 18.68 5.43988 10.44C10.6799 8.60001 15.5999 5.92001 19.9999 2.56001C24.3999 5.92001 29.3199 8.60001 34.5199 10.44C34.5199 18.68 32.9999 24.84 29.8399 29.24Z" fill="#31ACB8"/>
                                <path d="M14.88 19.12L13.04 20.96L18.52 26.44L26.92 16.6L24.96 14.92L18.4 22.64L14.88 19.12Z" fill="#31ACB8"/>
                                </svg>
                            .typography.typography--accent
                                |Надежный
                                br
                                |партнер
                            ul
                                li стабильная работа с 2010 года
                                li любые типы закупочных процедур
                                li более 500 000 поставщиков
                        .swiper-slide
                            .info-slider__pattern
                                <svg width="123" height="98" viewBox="0 0 123 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.683013 -9.81699L107.204 -71.317L168.704 35.2041L105.051 71.9541C81.3758 85.6232 51.1021 77.5114 37.433 53.8359L0.683013 -9.81699Z" fill="white" stroke="#31ACB8"/>
                                </svg>
                            .info-slider__icon
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M4.4006 39.96C3.7206 39.96 3.1606 39.4 3.1606 38.72V34.24C3.2006 33.56 3.7206 33.04 4.4006 33.04H4.4406C5.0806 33.08 5.6406 33.6 5.6406 34.24V37.44H26.5206V34C26.5206 33.32 27.0806 32.76 27.7606 32.76C28.4406 32.76 29.0006 33.32 29.0006 34V38.68C29.0006 39.36 28.4406 39.92 27.7606 39.92H4.4006V39.96ZM4.3606 30.68C1.9206 30.68 -0.0393985 28.68 0.000601529 26.24C0.000601529 23.84 2.0006 21.88 4.4006 21.88C5.1606 21.88 5.9206 22.08 6.5606 22.44L6.7606 22.56L12.9606 17.16L12.8806 16.96C12.4406 15.92 12.4406 14.76 12.8806 13.68C13.5606 12 15.1606 10.92 16.9206 10.92C17.4806 10.92 18.0406 11.04 18.5606 11.24C20.8006 12.16 21.8806 14.68 21.0006 16.92L20.9206 17.12L27.1206 22.52L27.3206 22.4C27.9606 22.04 28.6406 21.84 29.3606 21.84H29.5606L33.1606 12.64L32.9606 12.52C31.8806 11.68 31.2806 10.4 31.2806 9.03998C31.2806 6.63998 33.2406 4.71998 35.6406 4.71998C38.0406 4.71998 40.0006 6.63998 40.0406 8.99998C40.0806 11.4 38.1606 13.4 35.7606 13.44H35.5606L31.9606 22.64L32.1606 22.76C33.6806 23.96 34.2806 26.04 33.5206 27.84C32.8406 29.52 31.2406 30.56 29.4806 30.56C28.9206 30.56 28.3606 30.44 27.8406 30.24C26.7606 29.8 25.9206 28.96 25.4406 27.88C24.9606 26.8 24.9606 25.6 25.4006 24.52L25.4806 24.32L19.2006 19L19.0006 19.12C18.3606 19.48 17.6406 19.68 16.8806 19.68C16.1206 19.68 15.4006 19.48 14.7606 19.12L14.5606 19L8.4006 24.44L8.4806 24.64C8.6806 25.16 8.8006 25.72 8.8006 26.32C8.7606 28.72 6.8006 30.68 4.3606 30.68ZM29.3606 24.36C28.3206 24.36 27.4806 25.2 27.4806 26.24C27.4806 27.28 28.3206 28.12 29.3606 28.12C30.4006 28.12 31.2406 27.28 31.2406 26.24C31.2406 25.2 30.4006 24.36 29.3606 24.36ZM4.4006 24.36C3.3606 24.36 2.5206 25.2 2.5206 26.24C2.5206 27.28 3.3606 28.12 4.4006 28.12C5.4406 28.12 6.2806 27.28 6.2806 26.24C6.2806 25.2 5.4406 24.36 4.4006 24.36ZM16.8806 13.44C15.8406 13.44 15.0006 14.28 15.0006 15.32C15.0006 16.36 15.8406 17.2 16.8806 17.2C17.9206 17.2 18.7606 16.36 18.7606 15.32C18.7606 14.28 17.9206 13.44 16.8806 13.44ZM35.6006 7.19998C34.5606 7.19998 33.7206 8.03998 33.7206 9.07998C33.7206 10.12 34.5606 10.96 35.6006 10.96C36.6406 10.96 37.4806 10.12 37.4806 9.07998C37.4806 8.03998 36.6406 7.19998 35.6006 7.19998ZM4.4006 19.68C3.7206 19.68 3.1606 19.12 3.1606 18.44V2.83998C3.1606 2.15998 3.7206 1.59998 4.4006 1.59998H10.9606V1.27998C10.9606 0.599978 11.5206 0.039978 12.2006 0.039978H20.0006C20.6806 0.039978 21.2406 0.599978 21.2406 1.27998V1.59998H27.8006C28.4806 1.59998 29.0406 2.15998 29.0406 2.83998V16.88C29.0006 17.56 28.4806 18.08 27.8006 18.08H27.7606C27.1206 18.04 26.5606 17.52 26.5606 16.88V4.07998H5.6806V18.44C5.6806 19.12 5.1206 19.68 4.4006 19.68Z" fill="#31ACB8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            .typography.typography--accent
                                | Больше
                                br
                                | возможностей
                            ul
                                li дополнительные сервисы для экономии Вашего времени
                                li аналитические отчёты любой сложности
                                li регулярные мероприятия для повышения квалификаци
                        .swiper-slide
                            .info-slider__pattern
                                <svg width="123" height="98" viewBox="0 0 123 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.683013 -9.81699L107.204 -71.317L168.704 35.2041L105.051 71.9541C81.3758 85.6232 51.1021 77.5114 37.433 53.8359L0.683013 -9.81699Z" fill="white" stroke="#31ACB8"/>
                                </svg>
                            .info-slider__icon
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M20.0003 -0.0400391C9.16031 -0.0400391 0.320312 8.79996 0.320312 19.64C0.320312 22.12 0.800312 24.52 1.68031 26.8C2.36031 28.56 3.32031 30.2 4.48031 31.68L1.76031 38.12C1.56031 38.56 1.64031 39.12 1.96031 39.48C2.24031 39.8 2.60031 39.96 3.04031 39.96C3.12031 39.96 3.16031 39.96 3.28031 39.96L13.5603 38.16C15.6403 38.88 17.8003 39.24 20.0403 39.24C30.8803 39.24 39.7203 30.4 39.7203 19.56C39.6803 8.79996 30.8403 -0.0400391 20.0003 -0.0400391ZM20.0003 36.6C18.0003 36.6 16.0003 36.24 14.1203 35.56C13.8803 35.48 13.6803 35.48 13.4003 35.52L5.24031 36.96L7.32031 32.08C7.52031 31.6 7.44031 31.08 7.08031 30.68C5.84031 29.24 4.88031 27.6 4.20031 25.88C3.44031 23.92 3.04031 21.84 3.04031 19.72C3.04031 10.32 10.6803 2.67996 20.0003 2.67996C29.3203 2.67996 36.9603 10.28 36.9603 19.64C36.9603 29 29.3203 36.6 20.0003 36.6Z" fill="#31ACB8"/>
                                <path d="M13.1206 22.52C14.5123 22.52 15.6406 21.3917 15.6406 20C15.6406 18.6082 14.5123 17.48 13.1206 17.48C11.7288 17.48 10.6006 18.6082 10.6006 20C10.6006 21.3917 11.7288 22.52 13.1206 22.52Z" fill="#31ACB8"/>
                                <path d="M20.0005 22.52C21.3922 22.52 22.5205 21.3917 22.5205 20C22.5205 18.6082 21.3922 17.48 20.0005 17.48C18.6087 17.48 17.4805 18.6082 17.4805 20C17.4805 21.3917 18.6087 22.52 20.0005 22.52Z" fill="#31ACB8"/>
                                <path d="M26.8804 22.52C28.2721 22.52 29.4004 21.3917 29.4004 20C29.4004 18.6082 28.2721 17.48 26.8804 17.48C25.4886 17.48 24.3604 18.6082 24.3604 20C24.3604 21.3917 25.4886 22.52 26.8804 22.52Z" fill="#31ACB8"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            .typography.typography--accent Комплексное сопровождение и поддержка
                            ul
                                li представители во всех регионах России
                                li поддержка — 24 часа, 7 дней в неделю
                        .swiper-slide
                            .info-slider__pattern
                                <svg width="123" height="98" viewBox="0 0 123 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.683013 -9.81699L107.204 -71.317L168.704 35.2041L105.051 71.9541C81.3758 85.6232 51.1021 77.5114 37.433 53.8359L0.683013 -9.81699Z" fill="white" stroke="#31ACB8"/>
                                </svg>
                            .info-slider__icon
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.0003 40C19.7203 40 19.4403 39.92 19.2403 39.76L11.9203 34.12C11.6003 33.88 11.4803 33.52 11.5603 33.16L15.5603 13.32L13.9203 9.84L9.28029 11.92C9.12029 12 8.92029 12.04 8.76029 12.04C8.68029 12.04 8.56029 12.04 8.48029 12C8.16029 11.92 7.88029 11.72 7.76029 11.48C7.64029 11.24 7.60029 11 7.68029 10.72L11.0403 0.72C11.0803 0.6 11.1603 0.48 11.2403 0.36C11.4403 0.12 11.8003 0 12.1203 0C12.3603 0 12.6003 0.08 12.8003 0.2L20.0003 4.72L27.2003 0.2C27.3203 0.12 27.4403 0.08 27.5603 0.04C27.6803 0 27.7603 0 27.8803 0C28.4003 0 28.8403 0.28 28.9603 0.72L32.3203 10.72C32.4003 11 32.3603 11.28 32.2003 11.52C32.0003 11.84 31.6003 12.04 31.2003 12.04C31.0003 12.04 30.8403 12 30.6803 11.92L26.1203 9.84L24.8003 13.32L28.4803 33.2C28.5603 33.56 28.4003 33.92 28.1203 34.12L20.7603 39.76C20.5603 39.92 20.2803 40 20.0003 40ZM20.0003 37.64L26.0803 32.96L22.6403 14.24H17.6803L13.9203 32.96L20.0003 37.64ZM22.8003 12.2L24.0803 8.96L20.0003 7.12L15.9603 8.92L17.4803 12.2H22.8003ZM10.6403 9.04L17.8003 5.8L12.7603 2.68L10.6403 9.04ZM29.3603 9.04L27.2003 2.64L22.2003 5.8L29.3603 9.04Z" fill="#31ACB8"/>
                                </svg>
                            .typography.typography--accent Более 110 000 Заказчиков уже работают с нами!
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt

        .section
            .container
                .about-us__contant
                    p.typography Мы перманентно ведем модернизацию и расширение производственного парка оборудования. Каждый этап технологии выпуска готовой продукции автоматизирован и имеет строгий контроль: от момента подбора сырья до передачи на склад. Собственная развитая измерительная и испытательная база, обеспечивает проведение всех видов испытаний в процессе разработки и производства кабельных изделий.
                    .about-us__frame
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2MpUj-Aua48" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    p.typography Вся продукция проходит обязательную и добровольную сертификацию. Качество продукции КЗ “ЭКСПЕРТ-КАБЕЛЬ“ подтверждено государственными и межгосударственными сертификатами соответствия. На предприятии внедрена и активно развивается система менеджмента качества по ГОСТ Р ИСО 9001-2015 (ISO 9001:2015). Уже сегодня у нас 12 региональных представительств на территории РФ и разветвлённая сеть региональных дилеров. Мы поддерживаем постоянное наличие продукции на складах представительств и региональных дилеров. В дополнение ко всему, у нас собственный огромный склад готовой продукции, а также парк автотехники. Благодаря этому мы осуществляем оперативную доставку по всей территории России и странам ближнего зарубежья.
                    p.typography Партнерами КЗ“ЭКСПЕРТ-КАБЕЛЬ“ являются крупные российские предприятия энергетики, нефтегазовой, нефтехимической, строительной отраслей, предприятия сфер обслуживания подвижного железнодорожного состава, метро и социальных объектов, Министерство обороны и Министерство внутренних дел РФ.
