extends ../layouts/default
include ../blocks/page-banner

block default
    - var title = 'О нас';

block content

    include ../blocks/bread-crumbs

    +pageBanner('О нас', '/content/about-us.jpg')

    .about-us
        .section.section--green
            .container
                .about-us__description
                    p.typography.typography--accent Кабельный Завод “ЭКСПЕРТ-КАБЕЛЬ“ располагается в г. Орёл на территории Индустриального Парка “Орёл“. Завод основан 01 апреля 2014 года на площадях бывшего советского сталепрокатного завода-гиганта.
                    p.typography Мы начинали своё развитие с площади в 5 000 кв.м., и к началу 2019 года в нашем распоряжении уже более 20 000 кв.м. складских и производственных площадей. На сегодняшний день КЗ “ЭКСПЕРТ-КАБЕЛЬ“ молодое, высокотехнологичное и многофункциональное производственное предприятие полного цикла. В 2016 году реализован проект цеха по переработке меди. Запущен процесс восходящего непрерывного литья по технологии Upcast®. Налажено серийное производство катанки диаметром от 8 до 25 мм из бескислородной меди марки М00 (химический состав по ГОСТ 859-2001). Производительность линии до 12 000 тонн в год.
                .about-us__advantages.swiper-container.advantages-slider-js
                    .swiper-wrapper
                        .swiper-slide Slide 1
                        .swiper-slide Slide 2
                        .swiper-slide Slide 3
                        .swiper-slide Slide 4
                    .swiper-button-prev
                    .swiper-button-next
