extends ../layouts/default
include ../blocks/bread-crumbs
include ../blocks/page-title

block default
    - let title = 'Кабель ВВГ';
    - locals.currentPage = 'Кабель ВВГ';

block content

    #mark-details(data-id="2")
