extends ../layouts/default
include ../blocks/page-banner
include ../blocks/bread-crumbs

block default
    - var title = 'Каталог';
    - locals.currentPage = 'Каталог';

block content

    +breadCrumbs([
        'Главная',
        'Каталог'
    ])

    //+pageBanner('Каталог', '/content/catalog.jpg')
    .page-banner.page-banner--with-btn(style=`background-image:url(/content/catalog.jpg)`)
        .container
            .page-banner__title Каталог
            #button-create-product

    .section.section--green.section--white-bottom
        .container
            #catalog
