extends ../layouts/default
include ../blocks/page-banner
include ../blocks/bread-crumbs

block default
    - var title = 'Каталог';

block content

    +breadCrumbs([
        'Главная',
        'Каталог'
    ])

    +pageBanner('Каталог', '/content/catalog.jpg')

    .section.section--green
        .container
            #catalog
