extends ../layouts/default
include ../blocks/page-banner
include ../blocks/bread-crumbs

block default
    - var title = 'Каталог';
    - locals.currentPage = 'Каталог';

block content

    +breadCrumbs([
        'Главная',
        'Каталог'
    ])

    +pageBanner('Каталог', '/content/catalog.jpg')

    .section.section--green.section--white-bottom
        .container
            .add-product-section
                .add-product-button.btn Добавить продукцию
            #catalog
