extends ../layouts/default
include ../blocks/bread-crumbs
include ../blocks/page-title

block default
    - let title = 'Реестр компаний - Компания';
    - locals.currentPage = 'Реестр компаний';

block content

    +breadCrumbs([
        'Главная',
        'Реестр компаний',
        'Страхование'
    ])

    +pageTitle('ПАО «Группа Компаний ПИК»', 'Вернуться в список компаний')

    .section.section--green.section--company
        .container
            .company__contacts
                p: a(href="#") www.pik.ru
                p 123242, Россия, г. Москва, ул. Баррикадная, 19 стр. 1
                p #[a(href="tel:+7 (495) 505-97-33") +7 (495) 505-97-33], #[a(href="tel:+7 (495) 116-76-97") +7 (495) 116-76-97]
                p: a(href="mailto:info@pik.ru") info@pik.ru
            .company__info.js-slider
                .company__block.company__block--alt
                    dl
                        dt Внутренний рейтинг
                        dd 8,2
                    dl.alt
                        dt Рейтинг компании
                        dd 9,8
                    dl
                        dt Индекс активности
                        dd 7,4
                .company__block
                    .company__block-title Общая сумма закупок
                    .company__block-value 4.5 млн. ₽
                .company__block
                    a.hint(href="#hint-1"): svg.sprite-hint: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#hint")
                    .company__block-title СМП
                    .company__block-value Микропредприятие
                .company__block
                    a.hint(href="#hint-2"): svg.sprite-hint: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#hint")
                    .company__block-title РНП
            //.company__nav.tabs.tabs--line.js-tabs.js-more
                ul.js-more__items
                    li.js-more__item: a(href="#products") Продукция
                    li.js-more__item: a(href="#hierarchy") Иерархия
                    li.js-more__item: a(href="#verification") Проверка компании
                    li.js-more__item: a(href="#requisites") Реквизиты
                    li.js-more__btn
                        button(type="button" aria-haspopup="true" aria-expanded="false")
                            svg.sprite-dropdown: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#dropdown")
            .tabs.tabs--line.js-tabs.company__nav
                ul
                    li: a(href="#products") Продукция
                    li: a(href="#hierarchy") Иерархия
                    li: a(href="#verification") Проверка компании
                    li: a(href="#requisites") Реквизиты
            .tabs__content.company__content#products Продукция
            .tabs__content.company__content#hierarchy: #structure
            .tabs__content.company__content#verification Проверка компании
            .tabs__content.company__content--requisites#requisites
                dl
                    dt ИНН
                    dd 7713011336
                dl
                    dt ОГРН
                    dd 1027739137084
                dl
                    dt КПП
                    dd 997450001
                dl
                    dt ОКПО
                    dd 40032777
                a.btn.btn--with-icon(href="#")
                    svg.sprite-download: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#download")
                    | Скачать реквизиты

    .hint__content#hint-1 Форма бизнеса
    .hint__content#hint-2 Реестр недобросовестных поставщиков