extends ../layouts/default
include ../blocks/bread-crumbs
include ../blocks/page-title

block default
    - let title = 'Нормативная база ГК и 223-ФЗ - Детальная';
    - locals.currentPage = '223-ФЗ';

block content

    +breadCrumbs([
        'Главная',
        'Нормативная база Гражданского кодекса и 223 Федерального закона',
        'Постановления Правительства РФ'
    ])

    +pageTitle('Постановления Правительства РФ')

    .section.section--green.section--columns.section--laws
        .container
            .section__nav
                ul
                    li: a(href="#") Федеральные законы
                    li.active: a(href="#") Постановление Правительства РФ
                    li: a(href="#") Наименование папки в 2 строки
                    li: a(href="#") Наименование папки в 2 строки для примера поведения
                    li: a(href="#") Распоряжения Правительства РФ
                    li: a(href="#") Наименование папки
            .section__content
                -
                    let laws = [
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                        {
                            title: 'Постановление Правительства РФ от 11.12.2014 N 1352 (ред. от 18.09.2019) Об участии субъектов малого и среднего предпринимательства в закупках.',
                            meta: 'pdf (203.12 кб), 02 февраля 2014',
                        },
                    ];
                .laws__items
                    each item in laws
                        a.laws__item(href="./laws-detail.html" class= item.class ? item.class : false)
                            .laws__item-icon: svg.sprite-download: use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#download")
                            .laws__item-title #{item.title}
                            .laws__item-meta #{item.meta}