extends ../layouts/default

block default
    - let title = 'Детальная страница процедуры';

block content

block content
    .section.section--green.section--tender-item
        .container
<<<<<<< HEAD
            #marketplace-item(data-id="123")
=======
            #marketplace-item(data-id="149")
>>>>>>> e935567006122f3f50c09e017cefcca83c49db48
