extends ../layouts/default
include ../blocks/page-banner
include ../blocks/bread-crumbs

block default
    - var title = 'Новости список';

block content

    +breadCrumbs([
        'Главная',
        'Новости'
    ])

    +pageBanner('Новости', '/content/news.jpg')

    include ../blocks/news-list
