extends ../layouts/default
include ../blocks/page-banner

block default
    - var title = 'Новости список';

block content

    include ../includes/bread-crumbs

    +pageBanner('Новости', '/content/news.jpg')

    include ../blocks/news-list
