extends ../layouts/default
include ../blocks/bread-crumbs

block default
    - var title = 'Личный кабинет';

block content

    +breadCrumbs([
        'Главная',
        'Личный кабинет'
    ])

    .section.section--green
        .container
            #personal


