extends ../layouts/default

block default
    - let title = 'Техническая поддержка';

block content

block content
    .section.section--green.section--support.support
        .container
            #support