extends ../layouts/default

block default
    - let title = 'Детальная страница процедуры';

block content

block content
    .section.section--green.section--tender-item
        .container
            #tender-item(data-id="83")