.bread-crumbs
  height: 86px
  .container
    display: flex
    align-items: center
    height: 100%
  &__separator
    margin: 0 5px
    color: $colorTurquoise
  a
    color: $colorTurquoise
  span
    cursor: default
    color: $colorGray
