.bread-crumbs
  height: 86px
  @media(max-width: 600px)
    height: 46px
  .container
    display: flex
    align-items: center
    height: 100%
  &__separator
    word-break: break-all
    margin: 0 5px
    color: $colorTurquoise
  a
    color: $colorTurquoise
  span
    cursor: default
    color: $colorGray
