.btn
  display: inline-flex
  align-items: center
  justify-content: center
  color: #fff
  font-family: "Gilroy-SemiBold", sans-serif
  font-weight: 500
  font-size: rem(16px)
  line-height: 160%
  height: rem(52px)
  min-width: rem(200px)
  padding: 0 rem(20px)
  border-radius: rem(6px)
  background-color: $colorTurquoise
  &:hover
    background-color: $colorTurquoiseHover
