@import "../variables/variables"
@import "../mixins/fluid-mixin"

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  color: #fff !important
  text-decoration: none !important
  font-family: "Gilroy-SemiBold", sans-serif
  font-weight: 500
  font-size: rem(16px)
  line-height: (22/16)
  min-width: rem(200px)
  text-align: center
  border: 1px solid $colorTurquoise
  border-radius: rem(6px)
  padding: rem(14px) rem(20px)
  min-height: rem(52px)
  background-color: $colorTurquoise
  cursor: pointer
  transition: border $animation, color $animation, background-color $animation
  outline: none

  &:hover
    border-color: $colorTurquoiseHover
    color: #ffffff !important
    background-color: $colorTurquoiseHover

  &:disabled,
  &.btn--disabled
    border-color: $colorGray
    background: $colorGray
    pointer-events: none

  &--bdr
    border-color: $colorTurquoise
    color: $colorTurquoise !important
    background-color: transparent !important

    &:hover
      border-color: $colorTurquoise
      color: $colorTurquoise !important
      background-color: #e5f1f3 !important

    &:disabled,
    &.btn--disabled
      border-color: #cdcdcd
      color: $colorGray !important
      pointer-events: none

  &--with-icon
    padding-left: rem(78px)
    padding-right: rem(40px)
    position: relative

    @include mq($until: mobileLandscape)
      padding-left: rem(68px)
      padding-right: rem(24px)

    svg
      display: block
      margin-top: -10px
      width: 20px
      height: 20px
      fill: $colorWhite
      position: absolute
      top: 50%
      left: rem(40px)

      @include mq($until: mobileLandscape)
        left: rem(24px)

  &--white
    border-color: white
    color: $colorText !important
    background-color: white
    svg
      fill: $colorTurquoise

    &:hover
      border-color: $colorTurquoise
      color: white !important
      background-color: $colorTurquoise
      svg
        fill: white

  &-group
    display: flex
    flex-wrap: wrap
    .btn
      width: 100%
      @include mq($from: tablet)
        width: auto
        &:last-child
          border-top-left-radius: 0
          border-bottom-left-radius: 0
          border-left: 0
        &:first-child
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          border-right: 0
  &-flex
    display: flex
    justify-content: space-between
    align-items: center
    .btn
      padding: 0 0.4rem
      min-width: inherit
    .btn:first-child
      flex-grow: 2
      margin-right: 1.5rem
    .btn:last-child
      flex-grow: 3

.btns
  display: flex
  flex-wrap: wrap
  margin: rem(-24px) 0 0 rem(-24px)

  > .btn
    margin: rem(24px) 0 0 rem(24px)
