@import "../variables/variables"
@import "../mixins/mq"
@import "../mixins/fluid-mixin"

.company

  &__contacts
    margin: 0 0 rem(40px)

    @include mq($until: tablet)
      margin: 0 0 rem(24px)

    p
      margin: 0
      font-weight: 500
      font-size: rem(16px)
    a
      text-decoration: none
      color: $colorTurquoise
      &[href^="tel:"]
        color: $colorText
      &[href^="mailto:"]
        text-decoration: underline
      &:hover
        color: $colorTurquoiseHover

  &__info
    &:not(.swiper-wrapper)
      display: flex
      flex-wrap: wrap
      margin: -32px 0 0 -32px

  &__block
    display: flex
    flex-direction: column
    justify-content: space-between
    //margin: 32px 0 0 32px
    border-radius: 6px
    padding: rem(24px) rem(32px)
    //width: calc(25% - 32px)
    background: $colorWhite
    position: relative

    &:not(.swiper-slide)
      margin: 32px 0 0 32px
      width: calc(25% - 32px)

      @include mq($until: large)
        width: calc(33.33% - 32px)

      @include mq($until: widescreen)
        width: calc(50% - 32px)

      @include mq($until: tablet)
        width: calc(100% - 32px)

    &--alt
      background: $colorTurquoise

    .hint
      position: absolute
      top: rem(26px)
      right: rem(26px)

      + .company__block-title
        padding-right: rem(32px)

    &-title
      margin: 0 0 rem(24px)
      color: $colorGray

    &-value
      margin: 0
      font-family: $fontGilroy
      font-size: rem(24px)
      line-height: (34/24)
      color: $colorTurquoise

    dl
      display: flex
      align-items: center
      justify-content: space-between
      margin: 0
      font-weight: 500
      color: #98d5db

      + dl
        margin-top: rem(7px)

      > dt
        width: calc(100% - 84px)

      > dd
        margin: 0
        width: 60px

      &.alt
        color: $colorWhite

        > dd
          font-size: rem(24px)
  &__nav
    margin: rem(40px) 0
    border-bottom: 1px solid #cdcdcd

    @include mq($until: tablet)
      margin: rem(48px) 0 rem(32px)
      border: 0
      padding: 60px 0 0
      position: relative

    ul
      list-style: none
      display: flex
      margin: 0
      padding: 0

      @include mq($until: tablet)
        display: block
        border-radius: 6px
        background: $colorWhite
        padding: 60px 0 0
        position: absolute
        top: 0
        left: 0
        right: 0

        &:hover
          box-shadow: 0 0 10px #cdcdcd
          z-index: 2

          li
            display: block !important

            &.active a
              border-radius: 6px 6px 0 0

      li
        + li
          @include mq($from: tablet)
            margin-left: rem(16px)

        &.active
          @include mq($until: tablet)
            position: absolute
            top: 0
            left: 0
            right: 0

          a
            color: $colorTurquoise

            &::after
              transform: scaleX(1)

            @include mq($until: tablet)
              border-radius: 6px
              padding-right: 54px
              position: relative
              color: $colorWhite
              background: $colorTurquoise
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis

              &::after
                content: ''
                display: block
                margin-top: -11px
                border: 0
                width: 22px
                height: 22px
                background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 9L11 13L15 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                position: absolute
                top: 50%
                right: 16px
                left: auto !important
                transform: none !important

        @include mq($until: tablet)
          &:not(.active)
            display: none

      a
        display: block
        padding: rem(15px) rem(5px)
        position: relative
        font-family: $fontGilroy
        color: $colorGray

        @include mq($from: tablet)
          text-transform: uppercase

        @include mq($until: tablet)
          border: 0 !important
          padding: rem(16px) rem(54px) rem(16px) rem(24px)
          font-size: rem(22px)
          text-align: left

        &:hover
          @include mq($from: tablet)
            &::after
              transform: scaleX(1)

          @include mq($until: tablet)
            color: $colorTurquoiseHover

        &::after
          content: ''
          display: block
          border-bottom: 1px solid $colorTurquoise
          position: absolute
          top: 100%
          left: 0
          right: 0
          transform: scaleX(0)
          transition: transform $animation

  &__content
    border-radius: 6px
    padding: rem(40px) rem(64px)
    background: $colorWhite

    @include mq($until: widescreen)
      padding: rem(40px)

    @include mq($until: tablet)
      padding: rem(32px) rem(20px)

    html:not(.js) & + &
      margin-top: rem(40px)

    &--requisites
      dl
        display: flex
        justify-content: space-between
        margin: 0
        font-weight: 500
        + dl
          margin-top: rem(24px)

      dt
        max-width: 218px
        color: $colorGray
        position: relative

        @include mq($until: tablet)
          max-width: 145px

        &::after
          content: ''
          display: block
          margin: 0 5px
          border-bottom: 1px dotted #cdcdcd
          width: 242px
          position: absolute
          left: 100%
          bottom: .4em

          @include mq($until: tablet)
            width: 140px

      dd
        margin: 0
        width: calc(100% - 242px)
        padding-left: 5px
        background: $colorWhite
        position: relative
        //z-index: 2

        @include mq($until: tablet)
            width: calc(100% - 145px)

      .btn
        margin-top: rem(40px)