@import "../mixins/fluid-mixin"
    
.customers-about
    &.section--customers-about
        padding-bottom: 0
    &__description
        max-width: 920px
    &__btn
        padding: 1rem rem(110px)

.customers-form
    &__inner
        display: flex
    &__block
        width: 58%
        margin-right: 32px
        background-color: #fff
        padding: 40px 44px 44px
        .field__container
            width: 50%
            padding-right: 32px
            padding-bottom: 24px
    &__form
        display: flex
        flex-wrap: wrap
    &__questions
        width: 42%
        background-color: #fff
        padding: 40px 44px 36px
    &__title
        font-family: "Gilroy-SemiBold", sans-serif
        font-size: rem(32px)
        line-height: 140%
        color:#2C2C2C
        padding-bottom: 32px
        &--light
            color:#373735
