.footer
  background-color: $colorTurquoiseLight
  height: rem(526px)
  &__menu
    margin-top: rem(64px)
  &__nav
    list-style: none
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    li
      width: 25%
      padding: rem(5px) 0
      a
        color: $colorText
        font-size: rem(16px)
        &:hover
          color: $colorTurquoise

  &__middle
    margin-top: rem(55px)
    display: flex

  &__middle-left
    width: 25%

  &__middle-center
    display: flex
    width: 50%
    margin-top: rem(15px)
    .header__phones
      flex-direction: column
    .header__phone
      margin-bottom: rem(15px)
    .header__phone-sity
      color: $colorTurquoise
      opacity: .5

  &__middle-center-item
    width: 50%

  &__stores
    margin-top: rem(22px)
    a
      &:first-child
        margin-right: rem(16px)

  &__email
    margin-top: rem(10px)
    a
      font-size: rem(16px)
      color: $colorTurquoise

  &__socials
    display: flex

  &__social
    transition: .3s background-color
    height: rem(48px)
    width: rem(48px)
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    margin-right: rem(16px)
    background-color: transparent
    border: 1px solid $colorTurquoise
    flex: none
    path
      transition: .3s fill
    &:hover
      background-color: $colorTurquoise
      path
        fill: #fff

  &__address-factory
    margin-top: rem(20px)
    font-size: rem(16px)
    color: $colorGray

  &__timetable
    margin-top: rem(16px)
    color: $colorGray
