.header
  .container
    display: flex
  &__nav
    display: flex
    justify-content: space-between
    width: 100%
    font-size: rem(16px)
    padding: 0
    list-style-type: none
    &:not(.header__nav--jsfied)
      overflow-x: auto
      -webkit-overflow-scrolling: touch
    a
      color: $colorText
      white-space: nowrap
      position: relative
      line-height: 160%
      margin: 0 rem(15px)
      padding-bottom: rem(10px)
      //flex-grow: 1
      //&:first-child
      //  margin: 0
      //&:last-child
      //  margin: 0
      &:after
        transition: .3s transform
        position: absolute
        content: " "
        width: 100%
        height: rem(4px)
        bottom: 0
        left: 50%
        background-color: $colorTurquoise
        transform: translateX(-50%) scaleX(0)
      &:hover
        &:after
          transform: translateX(-50%) scaleX(1)
  &__top
    font-size: rem(12px)
    border-bottom: 1px solid #F4F4F4
    padding: rem(9px) 0
    .container
      justify-content: space-between
  &__middle
    .container
      justify-content: space-between
  &__middle
    padding-bottom: rem(24px)
    padding-top: rem(30px)
    .container
      align-items: center

  &__logo
    svg
      display: block
      width: rem(201px)
      height: rem(60px)

  &__rate
    display: flex
    //width: 50%
    //justify-content: space-between
    flex-wrap: wrap
  &__rate-currency
    display: flex
    margin-right: rem(50px)
    &:last-child
      margin-right: 0
  &__rate-share
    margin-left: rem(4px)
    color: $colorGray

  &__links
    //width: 23%
    display: flex
    flex-wrap: wrap
    //justify-content: space-between
    a
      display: flex
      align-items: center
      color: $colorText
      margin-left: rem(50px)
      &:first-child
        margin-left: 0
      span
        margin-left: rem(10px)

  &__phones
    display: flex

  &__phone
    margin-right: rem(63px)
    &:last-child
      margin-right: 0

  &__phone-number
    font-size: rem(24px)
    color: $colorTurquoise

  &__phone-sity
    font-size: rem(12px)
    margin-left: rem(12px)
    color: $colorGray

  &__login
    display: flex

  &__singin
    border: 1px solid #31ACB8
    border-right: none
    border-radius: rem(6px) 0 0 rem(6px)
    min-width: rem(125px)
    width: 100%
    height: rem(48px)
    display: flex
    align-items: center
    justify-content: center
    color: $colorTurquoise

  &__registration
    border: 1px solid #31ACB8
    border-radius: 0 rem(6px) rem(6px) 0
    background-color: $colorTurquoise
    color: #fff
    min-width: rem(180px)
    width: 100%
    height: rem(48px)
    display: flex
    align-items: center
    justify-content: center

