.header
  .container
    display: flex
  &__nav
    display: flex
    justify-content: space-between
    width: 100%
    font-size: rem(16px)
    padding: 0
    list-style-type: none
    @include mq($until: widescreen)
      font-size: rem(14px)
    &:not(.header__nav--jsfied)
      overflow-x: auto
      -webkit-overflow-scrolling: touch
    a
      color: $colorText
      white-space: nowrap
      position: relative
      line-height: 160%
      margin: 0 rem(15px)
      padding-bottom: rem(10px)
      &.active
        color: $colorTurquoise
        &:after
          transform: translateX(-50%) scaleX(1)
      &:after
        transition: .3s transform
        position: absolute
        content: " "
        width: 100%
        height: rem(4px)
        bottom: 0
        left: 50%
        background-color: $colorTurquoise
        transform: translateX(-50%) scaleX(0)
      &:hover
        &:after
          transform: translateX(-50%) scaleX(1)
  &__top
    font-size: rem(12px)
    border-bottom: 1px solid #F4F4F4
    padding: rem(6px) 0
    @media(max-width: 1220px)
      padding: rem(8px) 0
    @include mq($until: desktop)
      padding: rem(15px) 0
    .container
      justify-content: space-between
  &__middle
    padding-bottom: rem(24px)
    padding-top: rem(30px)
    .container
      justify-content: space-between
      align-items: center
    @include mq($until: tablet)
      display: none
  &__bottom
    @include mq($until: tablet)
      display: none

  &__logo
    svg
      display: block
      width: rem(201px)
      height: rem(60px)

  &__rate
    display: flex
    //width: 50%
    //justify-content: space-between
    @include mq($until: tablet)
      width: 100%
      justify-content: space-between
    @media(max-width: 348px)
      flex-direction: column
  &__rate-container
    display: flex
    @include mq($from: widescreen)
      &:nth-child(2)
        a
          &:nth-child(2)
            margin-right: 0
    @include mq($until: widescreen)
      flex-direction: column
  &__rate-currency
    display: flex
    margin-right: rem(50px)
    line-height: 160%
    @include mq($until: large)
      margin-right: rem(32px)
    @media(max-width: 1220px)
      margin-right: rem(8px)
    @include mq($until: widescreen)
      margin-right: rem(44px)
    @include mq($until: desktop)
      margin-right: 0
      line-height: 160%
      padding: 2px 0
  &__rate-share
    margin-left: rem(4px)
    color: $colorGray

  &__links
    //width: 23%
    display: flex
    flex-wrap: wrap
    //justify-content: space-between
    @include mq($until: tablet)
      display: none
    a
      display: flex
      align-items: center
      color: $colorText
      margin-left: rem(50px)
      line-height: 160%
      @include mq($until: large)
        margin-left: rem(32px)
      @media(max-width: 1220px)
        margin-left: rem(8px)
      @include mq($until: widescreen)
        margin-left: rem(44px)
      span
        margin-left: rem(10px)

  &__links-container
    display: flex
    @include mq($from: widescreen)
      &:nth-child(1)
        a
          &:nth-child(1)
            margin-left: 0
    @include mq($until: widescreen)
      flex-direction: column
      &:nth-child(2)
        a
          &:nth-child(2)
            order: -1

  &__phones
    display: flex
    @media(max-width: 1220px)
      flex-direction: column


  &__phone
    margin-right: rem(63px)
    @media(max-width: 1300px)
      margin-right: rem(33px)
    &:last-child
      margin-right: 0

  &__phone-number
    font-size: rem(24px)
    color: $colorTurquoise
    @include mq($until: widescreen)
     font-size: rem(21px)

  &__phone-sity
    font-size: rem(12px)
    margin-left: rem(12px)
    color: $colorGray

  &__login
    display: flex

  &__singin
    border: 1px solid #31ACB8
    border-right: none
    border-radius: rem(6px) 0 0 rem(6px)
    min-width: rem(125px)
    width: 100%
    height: rem(48px)
    display: flex
    align-items: center
    justify-content: center
    color: $colorTurquoise
    @include mq($until: widescreen)
      height: rem(40px)
      min-width: rem(88px)

  &__registration
    border: 1px solid #31ACB8
    border-radius: 0 rem(6px) rem(6px) 0
    background-color: $colorTurquoise
    color: #fff
    min-width: rem(180px)
    width: 100%
    height: rem(48px)
    display: flex
    align-items: center
    justify-content: center
    @include mq($until: widescreen)
      height: rem(40px)
      min-width: rem(126px)

