.info-slider
  //&--about

  &__navigation-slider
    display: flex
    justify-content: flex-end
    margin-bottom: rem(24px)
    .swiper-button-prev
      height: rem(48px)
      width: rem(48px)
      background-color: #fff
      flex: none
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      cursor: pointer
      &.swiper-button-disabled
        opacity: .5
        cursor: default
    .swiper-button-next
      height: rem(48px)
      width: rem(48px)
      background-color: #fff
      flex: none
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-left: rem(12px)
      cursor: pointer
      &.swiper-button-disabled
        opacity: .5
        cursor: default

  &__description
    p
      &:first-child
        margin-top: 0

  &__pattern
    position: absolute
    top: 0
    right: 0

  &__icon
    position: absolute
    top: rem(16px)
    right: rem(26px)

  .swiper-slide
    background-color: #fff
    padding: rem(32px)
    padding-top: rem(80px)
    height: auto
    .typography--accent
      margin-bottom: rem(24px)
    p
      margin: rem(12px) 0
    ul
      position: relative
      padding-left: rem(12px)
      list-style-type: none
    li
      margin: rem(12px) 0
      &:before
        position: absolute
        left: 0
        color: $colorTurquoise
        content: "•"
        padding-right: 10px
