@import "../variables/variables"
@import "../mixins/fluid-mixin"
@import "../mixins/mq"

.info-slider
  position: relative

  &__items
    &:not(.swiper-wrapper)
      display: flex
      flex-wrap: wrap
      margin: -32px 0 0 -32px

  &__item
    border-radius: 6px
    padding: rem(80px) rem(32px) rem(32px)
    height: auto
    background-color: #fff
    position: relative
    overflow: hidden

    &:not(.swiper-slide)
      margin: 32px 0 0 32px
      width: calc(25% - 32px)

      @include mq($until: large)
        width: calc(33.33% - 32px)

      @include mq($until: widescreen)
        width: calc(50% - 32px)

      @include mq($until: tablet)
        width: calc(100% - 32px)

    &::before
      content: ''
      display: block
      width: 123px
      height: 98px
      background: url("data:image/svg+xml,%3Csvg width='123' height='98' viewBox='0 0 123 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.683013 -9.81699L107.204 -71.317L168.704 35.2041L105.051 71.9541C81.3758 85.6232 51.1021 77.5114 37.433 53.8359L0.683013 -9.81699Z' fill='white' stroke='%2331ACB8'/%3E%3C/svg%3E") no-repeat 100% 0
      position: absolute
      top: 0
      right: 0

    @at-root
      a#{&}
        display: block
        color: $colorText
        background: $colorWhite
        transition: color $animation, background $animation

        .list--bullet li::before
          transition: color $animation

      &:hover
        color: $colorWhite
        background: $colorTurquoise

        .list--bullet li::before
          color: $colorWhite

    .typography--accent
      margin-bottom: rem(24px)
      min-height: rem(24px*1.4*2)

    p
      margin: rem(12px) 0
    li
      margin: rem(12px) 0


  &__pattern
    position: absolute
    top: 0
    right: 0

  &__icon
    position: absolute
    top: rem(16px)
    right: rem(26px)

    svg
      display: block
      width: rem(40px)
      height: rem(40px)
