@import "../variables/variables"
@import "../mixins/fluid-mixin"
@import "../mixins/mq"

.join

  .container
    display: flex
    flex-wrap: wrap
    //justify-content: space-between
    justify-content: space-around

    @include mq($until: desktop)
      justify-content: space-between

  &__item
    width: 50%
    //max-width: 360px
    //max-width: 400px
    @include fluid-property('max-width', 1024px, 1024px, 1440px, 300px, 300px, 400px)
    //font-size: rem(18px)
    @include fluid-property('font-size', 1024px, 1024px, 1440px, 14px, 14px, 18px)
    position: relative

    @include mq($until: tablet)
      max-width: 100%
      width: 100%

      + .join__item
        margin-top: 32px

    &-icon
      margin-bottom: rem(16px)

    &-title
      white-space: nowrap
      font-weight: normal
      font-size: rem(36px)
      @include fluid-property('font-size', 1024px, 1024px, 1440px, 24px, 24px, 36px)
      line-height: (50/36)
      font-family: $fontGilroy

      span
        color: $colorTurquoise

      @at-root
        a#{&}
          color: $colorText
          transition: color $animation

          &::before
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0

          span
            transition: color $animation

          svg
            display: inline-block
            vertical-align: middle
            margin-left: 16px
            fill: $colorTurquoise

          &:hover
            color: $colorTurquoiseHover

            span
              color: $colorTurquoiseHover

            svg
              fill: $colorTurquoiseHover

    p
      margin: 0
      color: $colorGray2
      
      span
        white-space: nowrap
        color: $colorText