.multiselect
    &--disabled .multiselect__current,
    &--disabled .multiselect__select
        background-color: transparent
    &.error
        .multiselect__tags
            border-color: $colorRed
    &__tags
        padding: 10px 40px 3px 20px
        border-radius: 4px
        border: 1px solid #D3D3D3
        height: rem(48px)
        display: flex
        align-items: center
    &__spinner
        height: 45px
    &__select
        width: 16px
        height: 8px
        top: 50%
        right: 15px
        padding: 0
        transform: translateY(-50%)
        &::before
            position: absolute
            margin-top: 0
            top: 0
            bottom: 0
            left: 0
            right: 0
            display: inline-block
            border: none
            width: 16px
            height: 8px
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxOCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xIDFMOSA5TDE3IDEiIHN0cm9rZT0iIzM3MzczNSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K) no-repeat 50% 50%
            background-size: contain
    &__content
        &-wrapper
            border: 1px solid $colorTurquoise
            border-radius: 4px
            .multiselect--above &
                border: 1px solid $colorTurquoise
                border-radius: 4px

.multiselect--active .multiselect
    &__select
        transform: translateY(-50%) rotate(180deg)

.form-select
    .multiselect__tags
        padding: rem(6px) rem(40px) rem(3px) rem(10px)
    .multiselect__placeholder
        margin-bottom: rem(4px)
    .multiselect__input,
    .multiselect__single
        margin-top: rem(4px)
        margin-bottom: rem(4px)
        padding-left: 0
    .multiselect__option
        padding: 12px 25px
        &--highlight
            background: #F4F4F4
            color: $lightcolorText
        &--selected
            font-weight: 400
            color: $lightcolorText
            //background-color: transparent !important
    &--multiple
        height: auto
        height: rem(48px)
