.multiselect
    &__tags
        padding: 10px 40px 3px 20px
        border-radius: 4px
        border: 1px solid #D3D3D3
    &__select
        width: 16px
        height: 8px
        top: 50%
        right: 19px
        padding: 0
        transform: translateY(-50%)
        &::before
            position: absolute
            margin-top: 0
            top: 0
            bottom: 0
            left: 0
            right: 0
            display: inline-block
            border: none
            width: 16px
            height: 8px
            background: url(../src/assets/img/svg-templates/arrow-bottom.svg) no-repeat 50% 50%
            background-size: contain

.multiselect--active .multiselect
    &__select
        transform: translateY(-50%) rotate(180deg)

.form-select
    .multiselect__tags
        padding: rem(6px) rem(40px) rem(3px) rem(10px)
    .multiselect__placeholder
        margin-bottom: rem(4px)
    .multiselect__single
        margin-top: rem(2px)
        margin-bottom: rem(4px)
    .multiselect__option--highlight
        background: #f7fbfb;
        color: #2C2C2C;