@import "../variables/variables"
@import "../mixins/mq"
@import "../mixins/fluid-mixin"

.procedure
  &-new
    &.container-item
      padding-top: rem(80px)
  &__main
    h3
      font-size: rem(24px)
      font-weight: 500
    .form-select .multiselect__single
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    .checkbox
      min-height: rem(48px)
    .mt3
      margin-top: 2.4rem

.hide-block
  position: absolute
  top: 20px
  right: 20px
.relative
  position: relative
.mb1
  margin-bottom: 2rem
.mt1
  margin-top: 1rem
.mt2
  margin-top: 2rem
.mt3
  margin-top: 3rem
.mt4
  margin-top: 4rem
