@import "../variables/variables"
@import "../mixins/fluid-mixin"
@import "../mixins/mq"

.section
    padding: rem(64px) 0 rem(104px)
    @media(max-width: 600px)
        padding: rem(56px) 0 rem(40px)
    &--news-detail
        padding: rem(16px) 0 rem(104px)
        @media(max-width: 600px)
            padding: rem(5px) 0 rem(56px)
    &--green
        padding: rem(64px) 0 rem(64px)
        background-color: $colorTurquoiseLight
        @media(max-width: 600px)
            padding: rem(40px) 0 rem(40px)
    &--white-bottom
        margin-bottom: rem(104px)
        @media(max-width: 600px)
            margin-bottom: rem(56px)
    &--welcome
        padding: rem(136px) 0 rem(176px)
        @include mq($until: large)
            padding-bottom: rem(163px)
        @include mq($until: widescreen)
            padding-top: rem(92px)
            padding-bottom: rem(98px)
    &--company,
    &--laws,
    &--tariffs
        border-bottom: rem(104px) solid $colorWhite
        @include mq($until: widescreen)
            border-bottom-width: rem(56px)

    &--columns
        .container
            display: flex
            justify-content: space-between
            @include mq($until: tablet)
                flex-direction: column
        .section__nav
            align-self: flex-start
            order: 1
            width: 282px
            @include mq($until: desktop)
                width: 200px
            @include mq($until: tablet)
                order: -1
                margin: 0 0 rem(40px)
                width: 100%
        .section__content
            width: calc(100% - 306px)
            @include mq($until: desktop)
                width: calc(100% - 224px)
            @include mq($until: tablet)
                width: 100%

    &__head
        display: flex
        justify-content: space-between
        min-height: rem(70px)

        @include mq($until: tablet)
            // чтобы было куда выводить навигацию слайдеров
            &.with-slider
                padding-right: 120px !important

        &--only-mobile
            display: none
            @include mq($until: tablet)
                display: flex

    &__title
        margin: 0 0 rem(32px)
        font-size: rem(32px)
        line-height: (45/32)
        color: $colorText
        font-family: $fontGilroy

        @include mq($until: tablet)
            margin-bottom: rem(28px)
            font-size: rem(28px)
            line-height: (40/28)

    &__all
        margin: 0 0 rem(42px) rem(30px)
        white-space: nowrap
        font-size: 16px
        line-height: (40/16)
        color: $colorTurquoise
        font-family: $fontGilroy
        transition: color $animation

        @include mq($until: tablet)
            margin-bottom: rem(32px)

        svg
            display: inline-block
            vertical-align: middle
            margin-left: 16px
            fill: $colorTurquoise

        &:hover
            color: $colorTurquoiseHover

            span
                color: $colorTurquoiseHover

            svg
                fill: $colorTurquoiseHover

    &__nav
        padding: rem(16px) 0
        border-radius: 6px
        background: $colorWhite

        @include mq($until: tablet)
            padding: 54px 0 0
            position: relative

        ul
            list-style: none
            margin: 0
            padding: 0

            @include mq($until: tablet)
                border-radius: 6px
                background: $colorWhite
                padding: 54px 0 0
                position: absolute
                top: 0
                left: 0
                right: 0

                &:hover
                    box-shadow: 0 0 10px #cdcdcd
                    z-index: 2

                    li
                        display: block !important

                        &.active a
                            border-radius: 6px 6px 0 0

        li
            &.active
                @include mq($until: tablet)
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                a
                    background: $colorTurquoise
                    color: $colorWhite
                    @include mq($until: tablet)
                        border-radius: 6px
                        padding-right: 54px
                        position: relative
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        &::after
                            content: ''
                            display: block
                            margin-top: -11px
                            width: 22px
                            height: 22px
                            background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 9L11 13L15 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                            position: absolute
                            top: 50%
                            right: 16px
            @include mq($until: tablet)
                &:not(.active)
                    display: none

        a
            display: block
            padding: rem(16px) rem(24px)
            font-weight: 500
            font-size: 14px
            line-height: (22/14)
            color: $colorText
            transition: color $animation, background $animation

            &:hover
                color: $colorTurquoiseHover