@import "../variables/variables"
@import "../mixins/fluid-mixin"
@import "../mixins/mq"

.section
    padding: rem(64px) 0 rem(104px)
    @media(max-width: 600px)
        padding: rem(56px) 0 rem(40px)
    &--news-detail
        padding: rem(16px) 0 rem(104px)
        @media(max-width: 600px)
            padding: rem(5px) 0 rem(56px)
    &--green
        padding: rem(64px) 0 rem(64px)
        background-color: $colorTurquoiseLight
        @media(max-width: 600px)
            padding: rem(40px) 0 rem(40px)
    &--white-bottom
        margin-bottom: rem(104px)
        @media(max-width: 600px)
            margin-bottom: rem(56px)
    &--welcome
        padding: rem(136px) 0 rem(176px)
        @include mq($until: large)
            padding-bottom: rem(163px)
        @include mq($until: widescreen)
            padding-top: rem(92px)
            padding-bottom: rem(98px)
