.support-block
    display: flex

.support-form
    width: 52%

.support-info
    width: 48%
    color: $lightcolorText
    &__title
        font-weight: 500
        font-size: rem(24px)
        line-height: 160%        
        padding-bottom: rem(8px)
    &__text
        padding-bottom: rem(48px)
    &__stage
        padding: rem(10px) 0
        &-text
            padding-left: rem(14px)
    &__link
        color: $lightcolorText