@import "../variables/variables"
@import "../mixins/fluid-mixin"
@import "../mixins/mq"

.welcome
  margin-left: -5%
  margin-right: -5%
  padding-left: 5%
  padding-right: 5%
  border-radius: 0 0 50% 50% / 0 0 80px 80px
  color: $colorWhite
  background: url(../img/bg-welcome.jpg) no-repeat 50% 0 / cover

  .container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__title
    width: 33.33%
    font-weight: 400
    font-size: rem(56px)
    line-height: (78/56)
    font-family: $fontGilroy

  &__wrap
    display: flex
    flex-direction: column
    justify-content: space-between
    width: calc(66.66% - 140px)

  &__search
    position: relative

    input
      display: block
      margin: 0
      border: 0
      border-radius: 6px
      padding: rem(18px) rem(104px) rem(16px) rem(48px)
      width: 100%
      font-size: rem(14px)
      line-height: (22/14)
      color: $colorText
      background: $colorWhite

      &::placeholder
        color: $colorGray
        opacity: .5

    button
      display: block
      margin: 0
      border: 0
      border-radius: 0 6px 6px 0
      padding: 0
      width: rem(56px)
      //height: rem(56px)
      background: $colorTurquoise
      position: absolute
      top: 0
      right: 0
      bottom: 0
      transition: background $animation

      &:hover
        background: $colorTurquoiseHover

      svg
        display: block
        width: rem(24px)
        height: rem(24px)
        fill: $colorWhite
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)


  &__counters
    display: flex
    justify-content: space-between
    font-size: rem(16px)

    p
      margin-bottom: 0

    span
      display: block
      font-size: rem(36px)
      line-height: (50/36)
      font-family: $fontGilroy
