@import "../variables/variables"
@import "../mixins/fluid-mixin"
@import "../mixins/mq"

.wrapper
  display: flex
  flex-direction: column
  width: 100%
  min-height: 100%

.page
  flex: 1 1 auto

.container-item
  padding: rem(40px)
  margin-bottom: rem(24px)
  background-color: white
